<alert *ngIf="alertMessage" type="danger">
  <strong>Ops!</strong> {{alertMessage}}
</alert>
<alert *ngIf="warningMessage" type="warning">
  {{warningMessage}}
</alert>

<app-supplier-search-bar (paramsEmiter)="filter($event)"></app-supplier-search-bar>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-align-justify table-title-format"></i> <span class="table-title-format">{{ 'SUPPLIER.SEARCH.TITLE' | translate }} ({{supplierPageResult.totalElements}})</span>
            <div class="card-header-actions">
              <button type="button" class="btn btn-sm btn-block btn-outline-dark" data-toggle="modal" (click)="openRegisterScreen(null)">{{ 'SUPPLIER.SEARCH.ADD' | translate }}</button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center d-none d-sm-table-cell" style="width: 8%;">{{ 'SUPPLIER.SEARCH.TABLE.CODE' | translate }}</th>
              <th>{{ 'SUPPLIER.SEARCH.TABLE.NAME' | translate }}</th>
              <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'SUPPLIER.SEARCH.TABLE.CREATED_DATE' | translate }}</th>
              <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'SUPPLIER.SEARCH.TABLE.UPDATED_DATE' | translate }}</th>
              <th class="text-center" style="width: 10%;">{{ 'SUPPLIER.SEARCH.TABLE.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let supplier of supplierPageResult.content" [class.is-disabled]="supplier.disabled">
              <td class="d-none d-sm-table-cell td-on-the-middle text-center">{{supplier.code}}</td>
              <td class="td-on-the-middle">{{supplier.name}}</td>
              <td class="td-on-the-middle text-center d-none d-sm-table-cell">{{supplier.createdDate | date: 'yyyy-MM-dd':'GMT'}}</td>
              <td class="td-on-the-middle text-center d-none d-sm-table-cell">{{supplier.updatedDate | date: 'yyyy-MM-dd':'GMT'}}</td>
              <td class="td-on-the-middle text-center">
                <button type="button" class="btn btn-ghost-dark cil-pen" (click)="edit(supplier)" [disabled]="isEditButtonDisabled" [hidden]="supplier.disabled"></button>
                <ng-template #disabledTemplate>{{ 'SUPPLIER.SEARCH.TABLE.DISABLED_IN' | translate }}{{supplier.disabledDate | date: 'yyyy, MMMM dd'}}<div [innerHtml]="html"></div></ng-template>
                <button type="button" class="btn" [class]="supplier.disabled? 'btn-ghost-primary cil-check-alt' : 'btn-ghost-danger cil-x'" (click)="disableOrEnable(supplier)" [tooltip]="supplier.disabled ? disabledTemplate : ''"></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="align-self: center;">
          <pagination [boundaryLinks]="true" 
                      [totalItems]="supplierPageResult.totalElements" 
                      [(ngModel)]="supplierPageResult.currentPage"
                      [maxSize]="20"
                      (pageChanged)="pageChanged($event)"
                      [itemsPerPage]="itemsPerPage"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>