<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'ACCOUNT.REGISTER.TITLE_EDIT' | translate:{'code':account.code} }}</span>
        <span *ngIf="isNew()">{{ 'ACCOUNT.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>
  <alert *ngIf="warningMessage" type="warning">
    {{warningMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab heading="{{ 'ACCOUNT.REGISTER.TAB.ACCOUNT_DATA' | translate}}">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="accountType">{{ 'ACCOUNT.FIELD.TYPE' | translate }}</label>
                <select id="accountTypeField" name="accountType" #typeModel="ngModel" [(ngModel)]="account.type" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid(typeModel)}" required>
                  <option *ngFor="let accountType of types" [ngValue]="accountType.name">{{'ACCOUNT.TYPE.'+accountType.name | translate}}</option>
                </select>  
                <div class="invalid-feedback" *ngIf="isFieldInvalid(typeModel)">
                  <p *ngIf="typeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT.FIELD.TYPE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label for="name">{{ 'ACCOUNT.FIELD.NAME' | translate }}</label>
                <input id="nameField" type="text" class="form-control" name="name" [(ngModel)]="account.name" #name="ngModel" #nameInput maxlength="50" [ngClass]="{'is-invalid': isFieldInvalid(name)}" required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(name)">
                  <p *ngIf="name.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT.FIELD.NAME' | translate } }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="showAccountNumberSection()">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="branchNumber">{{ 'ACCOUNT.FIELD.BRANCH_NUMBER' | translate }}</label>
                <input id="branchNumberField"
                       type="text"
                       class="form-control"
                       name="branchNumber"
                       [(ngModel)]="account.branchNumber"
                       #branchNumber="ngModel"
                       maxlength="7"
                       [ngClass]="{'is-invalid': isFieldInvalid(branchNumber)}"
                       [required]="!isCreditCard()">
                <div class="invalid-feedback" *ngIf="isFieldInvalid(branchNumber)">
                  <p *ngIf="branchNumber.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT.FIELD.BRANCH_NUMBER' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="accountNumber" *ngIf="!isCreditCard()">{{ 'ACCOUNT.FIELD.ACCOUNT_NUMBER' | translate }}</label>
                <label for="accountNumber" *ngIf="isCreditCard()">{{ 'ACCOUNT.FIELD.CARD_NUMBER' | translate }}</label>
                <input id="accountNumberField"
                       type="text"
                       class="form-control"
                       name="accountNumber"
                       [(ngModel)]="account.accountNumber"
                       #accountNumber="ngModel"
                       maxlength="20"
                       [ngClass]="{'is-invalid': isFieldInvalid(accountNumber)}"
                       required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(accountNumber)">
                  <p *ngIf="accountNumber.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT.FIELD.ACCOUNT_NUMBER' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="institutionInput">{{ 'ACCOUNT.FIELD.INSTITUTION' | translate }}</label>
                <input id="institutionInput"
                       type="text"
                       class="form-control"
                       name="institution"
                       [(ngModel)]="account.institution"
                       #institution="ngModel"
                       maxlength="30"
                       [ngClass]="{'is-invalid': isFieldInvalid(institution)}"
                       required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(institution)">
                  <p *ngIf="institution.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT.FIELD.INSTITUTION' | translate } }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
                <label for="updatedBalanceDisabled">{{ 'ACCOUNT.FIELD.UPDATE_BALANCE_DISABLED' | translate }}</label>
                <div>
                  <label class="switch switch-label switch-outline-primary-alt">
                    <input type="checkbox" class="switch-input" name="isPreferred" [(ngModel)]="account.updateBalanceDisabled" checked [disabled]="!isNew()" (change)="onChangeUpdateBalance($event)">
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                  </label>
                </div>      
            </div>
            <div class="form-group col-sm-3">
              <label for="startBalance">{{ 'ACCOUNT.FIELD.START_BALANCE' | translate }}</label>
              <input id="startBalance" type="text" class="form-control"
                     name="startBalance"
                     [(ngModel)]="startBalance"
                     #startBalanceModel="ngModel"
                     #startBalanceInput
                     currencyInput
                     (change)="onChangeStartBalance($event)"
                     maxDigits="10"
                     required
                     [ngClass]="{'is-invalid': isFieldInvalid(startBalanceInput)}"
                     [disabled]="disableStartBalance()">
              <div class="invalid-feedback" *ngIf="isFieldInvalid(startBalanceInput)">
                <p *ngIf="startBalanceInput.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT.FIELD.START_BALANCE' | translate } }}</p>
              </div>    
            </div>
            <div class="form-group col-sm-3">
              <label for="balance">{{ 'ACCOUNT.FIELD.BALANCE' | translate }}</label>
              <input id="balanceInput" type="text" class="form-control"
                     name="balance"
                     [(ngModel)]="currentBalance"
                     #balanceModel="ngModel"
                     #balanceInput
                     currencyInput
                     maxDigits="10"
                     disabled>
            </div>
            <div class="form-group col-sm-3">
              <label for="creditLimitInput">{{ 'ACCOUNT.FIELD.CREDIT_LIMIT' | translate }}</label>
              <input id="creditLimitInput" type="text" class="form-control"
                     name="creditLimit"
                     [(ngModel)]="creditLimit"
                     #creditLimitModel="ngModel"
                     #creditLimitInput
                     currencyInput
                     (change)="onChangeCreditLimit($event)"
                     [ngClass]="{'is-invalid': isFieldInvalid(creditLimitModel)}"
                     maxDigits="10"
                     [required]="isCreditCard()">
              <div class="invalid-feedback" *ngIf="isCreditCard() && isFieldInvalid(creditLimitModel)">
                <p *ngIf="creditLimitModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT.FIELD.CONFIRM_PASSWORD' | translate } }}</p>
              </div>              
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">{{ 'ACCOUNT.FIELD.DESCRIPTION' | translate }}</label>
                <textarea id="descriptionField"
                          rows="8"
                          maxlength="255"
                          class="form-control"
                          name="description"
                          [(ngModel)]="account.description"
                          #notes="ngModel">
                </textarea>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="persist()" [disabled]="disableSaveButton">{{ 'ACCOUNT.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'ACCOUNT.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
