<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="white-space: pre-line;">
  <p>{{ message }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="ok()">{{ okButtonLabel }}</button>
  <button type="button" class="btn btn-secondary" (click)="close()">{{ closeButtonLabel }}</button>
</div>
