<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-edit table-title-format"></i> <span class="table-title-format">{{ 'AUTO_ACCOUNT_RECEIVABLE.SEARCH.FILTER.TITLE' | translate }}</span>
            <button type="button" class="card-header-action btn btn-link btn-minimize"(click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
            <div class="card-header-actions">
              <button type="button" class="btn btn-sm btn-primary" (click)="search()">{{ 'AUTO_ACCOUNT_RECEIVABLE.SEARCH.ACTION.SEARCH' | translate }}</button>
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="clear()">{{ 'AUTO_ACCOUNT_RECEIVABLE.SEARCH.ACTION.CLEAR' | translate }}</button>
            </div>
          </div>
        </div>
        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
          <form class="form-horizontal">
            <div class="form-group row">
              <div class="controls col-md-2">
                <label class="col-form-label" for="searchButtonByCode">{{ 'AUTO_ACCOUNT_RECEIVABLE.SEARCH.FILTER.CODE' | translate }}</label>
                <div class="input-group">
                  <input id="searchButtonByCode" 
                        [(ngModel)]="codeFilter"
                        (keyup.enter)="search()"
                        (keypress)="keyPressNumbers($event)" 
                        name="codeFilter" 
                        size="9" 
                        class="form-control" 
                        type="text">
                </div>
              </div>
              <div class="controls col-md-2">
                <label class="col-form-label" for="searchButtonByCode">{{ 'AUTO_ACCOUNT_RECEIVABLE.SEARCH.FILTER.DOCUMENT_NUMBER' | translate }}</label>
                <div class="input-group">
                  <input id="documentNumber" 
                        [(ngModel)]="documentNumberFilter"
                        (keyup.enter)="search()"
                        name="documentNumberFilter" 
                        size="50"
                        class="form-control" 
                        type="text">
                </div>
              </div>
              <div class="controls col-md-4">
                <label class="col-form-label" for="supplier">{{ 'AUTO_ACCOUNT_RECEIVABLE.SEARCH.FILTER.CUSTOMER' | translate }}</label>
                  <div class="input-group">
                    <input  id="supplierInput"
                            type="text"
                            [(ngModel)]="personSearchFilter"
                            (keyup.enter)="search()"
                            class="form-control"
                            name="supplier"
                            #supplierModel="ngModel"
                            #supplierInput>
                  </div>
              </div>
              <div class="controls col-md-4">
                <label class="col-form-label" for="searchByChartOfAccount">{{ 'AUTO_ACCOUNT_RECEIVABLE.SEARCH.FILTER.CHART_OF_ACCOUNT' | translate }}</label>
                  <div class="input-group">
                    <input  id="chartOfAccountDatalistInput"
                            list="chartOfAccountDatalist"
                            type="text"
                            class="form-control"
                            name="chartOfAccount"
                            [(ngModel)]="selectedChartOfAccount"
                            (keyup.enter)="search()"
                            (change)="onChangeChartOfAccount($event)"
                            #chartOfAccountModel="ngModel"
                            #chartOfAccountInput
                            autocomplete="false">
                    <div class="input-group-append">
                      <button class="btn btn-secondary cil-x" type="button" (click)="clearChartOfAccount()"></button>
                    </div>        
                  </div>
                <datalist id="chartOfAccountDatalist">
                  <option *ngFor="let model of chartOfAccounts" id="chartOfAccount_option_{{model.code}}" [value]="model.label"></option>
                </datalist>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>  
</div>