<alert *ngIf="successMessage" type="success">
  <i class="cil-check"></i> {{successMessage}}
</alert>
<alert *ngIf="alertMessage" type="danger">
  <strong>Ops!</strong> {{alertMessage}}
</alert>
<alert *ngIf="warningMessage" type="warning">
  <i class="cil-info"></i> {{warningMessage}}
</alert>

<app-account-receivable-search-bar (paramsEmiter)="filter($event)"></app-account-receivable-search-bar>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-caret-up text-primary fa-align-justify table-title-format" style="font-size: xx-large; padding-right: 5px;"></i>
            <span class="table-title-format">{{ 'ACCOUNT_RECEIVABLE.SEARCH.TITLE' | translate }} ({{accountReceivablePageResult.totalElements}})</span>
            <div class="card-header-actions">
              <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" (click)="repair()" [disabled]="!isPending(selectedAccount)">{{ 'ACCOUNT_RECEIVABLE.SEARCH.REPAIR' | translate }}</button>
              <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" (click)="payment()" [disabled]="!isOpen(selectedAccount)">{{ 'ACCOUNT_RECEIVABLE.SEARCH.PAY' | translate }}</button>
              <button type="button" class="btn btn-sm btn-outline-dark cil-dollar" style="margin-right: 20px;" data-toggle="modal" (click)="showBalanceClick()"></button>
              <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" (click)="openRegisterScreen(null, null, false)">{{ 'ACCOUNT_RECEIVABLE.SEARCH.ADD' | translate }}</button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center d-none d-sm-table-cell" style="width: 8%;">{{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.CODE' | translate }}</th>
              <th class="text-center d-none d-sm-table-cell" style="width: 5%;">{{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.NOTES' | translate }}</th>
              <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.ISSUE_DATE' | translate }}</th>
              <th>{{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.CUSTOMER' | translate }}</th>
              <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.DUE_DATE' | translate }}</th>
              <th class="text-right" style="width: 10%;">{{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.BALANCE' | translate }}</th>
              <th class="text-right" style="width: 10%;">{{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.AMOUNT_TO_PAY' | translate }}</th>
              <th class="text-center" style="width: 12%;">{{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let accountReceivable of accountReceivablePageResult.content"
                [class.pending-account-receivable]="isPending(accountReceivable)"
                [class.paid-account-receivable]="isPaid(accountReceivable)"
                [class.table-active]="isPending(accountReceivable)"
                (dblclick)="dblclickOnTable(accountReceivable)"
                (click)="disableClick ? $event.stopPropagation() : selectItem(accountReceivable)">
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountReceivable)">
                {{accountReceivable.code}}
              </td>
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountReceivable)">
                <button type="button" class="btn notes-button" [popover]="formatDescription(accountReceivable.description)" triggers="focus" container="body">
                  <i [class]="accountReceivable.description?.length > 0 ? 'fa fa-info-circle fa-lg' : 'fa fa-info-circle fa-lg text-secondary'"></i>
                </button>              
              </td>
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountReceivable)">
                {{accountReceivable.issueDate | date: 'yyyy-MM-dd':'GMT'}}
              </td>
              <td class="td-on-the-middle" [class.table-active]="isSelected(accountReceivable)">
                <ng-template #supplierTemplate><div [innerHtml]="getTooltipSupplier(accountReceivable)" class="table-tooltip"></div></ng-template>
                <span [tooltip]="supplierTemplate" placement="right">{{accountReceivable.person?.name}}</span>
              </td>
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountReceivable)" [class.due-account-receivable]="isDue(accountReceivable)">
                <ng-template #dueDateTemplate><div [innerHtml]="getTooltipDueDate(accountReceivable)" class="table-tooltip"></div></ng-template>
                <span [tooltip]="dueDateTemplate" placement="left">{{accountReceivable.dueDate | date: 'yyyy-MM-dd':'GMT'}}</span>
              </td>
              <td class="td-on-the-middle text-right" [class.table-active]="isSelected(accountReceivable)">
                <ng-template #amountTemplate><div [innerHtml]="getTooltipAmount(accountReceivable)" class="table-tooltip"></div></ng-template>
                <span [tooltip]="amountTemplate" placement="left">{{accountReceivable.balance | currency}}</span>
              </td> 
              <td class="td-on-the-middle text-right" [class.table-active]="isSelected(accountReceivable)">
                {{accountReceivable.amountToPay | currency}}
              </td> 
              <td class="td-on-the-middle text-center" [class.table-active]="isSelected(accountReceivable)">
                <button type="button" class="btn btn-ghost-dark cil-description" (click)="view(accountReceivable)" [hidden]="!isPaid(accountReceivable)"></button>
                <button type="button" class="btn btn-ghost-dark cil-pen" (click)="edit(accountReceivable)" [disabled]="isEditButtonDisabled" [hidden]="!isOpen(accountReceivable)"></button>
                <button type="button" class="btn btn-ghost-danger cil-x" (click)="openRemoveDialog(accountReceivable)" [disabled]="!isOpen(accountReceivable)"></button>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="showBalance">
            <tr class="total-paid-summary">
              <th class="td-on-the-middle text-right" colspan="7">
                {{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.TOTAL_PAID' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;{{totalPaid | currency}}
              </th>
              <th></th>
            </tr>
            <tr class="total-to-pay-summary">
              <th class="td-on-the-middle text-right" colspan="7">
                {{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.TOTAL_TO_PAY' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;{{totalToPay | currency}}
              </th>
              <th></th>
            </tr>
            <tr class="summary">
              <th class="td-on-the-middle text-right" colspan="7">
                {{ 'ACCOUNT_RECEIVABLE.SEARCH.TABLE.TOTAL' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;
                <i [class]="total > 0 ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: x-large;"></i>
                {{total | currency}}
              </th>
              <th></th>
            </tr>
          </tfoot>
        </table>
        <div style="align-self: center;">
          <pagination [boundaryLinks]="true" 
                      [totalItems]="accountReceivablePageResult.totalElements" 
                      [(ngModel)]="accountReceivablePageResult.currentPage"
                      [maxSize]="20"
                      (pageChanged)="pageChanged($event)"
                      [itemsPerPage]="itemsPerPage"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
