.td-on-the-middle {
    vertical-align: middle;
    padding: 5px;
}

.table-title-format {
    vertical-align: -webkit-baseline-middle;
    margin: 3px;
}

.pending-account-receivable {
    color: rgb(20, 110, 220);
    font-weight: bold;
}

.paid-account-receivable {
    color: rgba(220, 20, 60, 0.250);
    text-decoration: line-through;
}

.due-account-receivable {
    color: crimson;
    font-weight: bold;
}

.total-paid-summary {
    background-color: rgb(241, 250, 252);
}

.total-to-pay-summary {
    background-color: rgb(255, 247, 248);
}

.summary {
    background-color: rgb(226, 225, 225);
}
.table-tooltip {
    text-align: left;
}

.table td.table-active {
    font-weight: bold;
    background-color: #83bed42d;
    border-top: solid #83bed475;
    border-bottom: solid #83bed475;
}

tr:hover {
    cursor: pointer;
}
