<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span>{{ 'TRANSACTION.REGISTER.TRANSFER.TITLE' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab>
          <ng-template tabHeading><i class="fa fa-caret-down text-danger tab-icon"></i>{{ 'TRANSACTION.REGISTER.TRANSFER.DEBIT_ACCOUNT' | translate }}</ng-template>
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="debitAccountDataList" (selectedItemsEmiter)="debitAccountSelected($event)" [showCodeColumn]="false" [disableClick]="isViewMode" [isDisabled]="isViewMode" [multiSelect]="false"></list-data>
              </div>
            </div>
          </div>          
        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-caret-up text-primary tab-icon"></i>{{ 'TRANSACTION.REGISTER.TRANSFER.CREDIT_ACCOUNT' | translate }}</ng-template>
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="creditAccountDataList" (selectedItemsEmiter)="creditAccountSelected($event)" [showCodeColumn]="false" [disableClick]="isViewMode" [isDisabled]="isViewMode" [multiSelect]="false"></list-data>
              </div>
            </div>
          </div>          
        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-caret-down text-danger tab-icon"></i>{{ 'TRANSACTION.REGISTER.TRANSFER.DEBIT_CHART_OF_ACCOUNT' | translate }}</ng-template>
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="debitChartOfAccountDataList" (selectedItemsEmiter)="debitChartOfAccountSelected($event)" [showCodeColumn]="false" [isDisabled]="isViewMode" [multiSelect]="false"></list-data>
              </div>
            </div>
          </div>
        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-caret-up text-primary tab-icon"></i>{{ 'TRANSACTION.REGISTER.TRANSFER.CREDIT_CHART_OF_ACCOUNT' | translate }}</ng-template>
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="creditChartOfAccountDataList" (selectedItemsEmiter)="creditChartOfAccountSelected($event)" [showCodeColumn]="false" [isDisabled]="isViewMode" [multiSelect]="false"></list-data>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{'TRANSACTION.REGISTER.TRANSFER.TRANSFER_DATA' | translate}}">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="debitAccountLabel">{{ 'TRANSACTION.REGISTER.TRANSFER.DEBIT_ACCOUNT' | translate }}</label>
                <input id="debitAccountField" type="text" class="form-control" name="debitAccountLabel" [(ngModel)]="selectedDebitAccount.description" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="creditAccountLabel">{{ 'TRANSACTION.REGISTER.TRANSFER.CREDIT_ACCOUNT' | translate }}</label>
                <input id="creditAccountField" type="text" class="form-control" name="creditAccountLabel" [(ngModel)]="selectedCreditAccount.description" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="debitChartOfAccountLabel">{{ 'TRANSACTION.REGISTER.TRANSFER.DEBIT_CHART_OF_ACCOUNT' | translate }}</label>
                <input id="debitChartOfAccountField" type="text" class="form-control" name="debitChartOfAccountLabel" [(ngModel)]="transfer.debitChartOfAccount.name" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="creditChartOfAccountLabel">{{ 'TRANSACTION.REGISTER.TRANSFER.CREDIT_CHART_OF_ACCOUNT' | translate }}</label>
                <input id="creditChartOfAccountField" type="text" class="form-control" name="creditChartOfAccountLabel" [(ngModel)]="transfer.creditChartOfAccount.name" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="transferDateLabel">{{ 'TRANSACTION.FIELD.TRANSACTION_DATE' | translate }}</label>
                  <input  id="transferDateField"
                          type="date"
                          class="form-control"
                          name="transferDateLabel"
                          [(ngModel)]="transferDate"
                          #transferDateModel="ngModel"
                          #transferDateInput
                          [ngClass]="{'is-invalid': isFieldInvalid(transferDateModel)}"
                          placeholder="date"
                          required
                          [readonly]="isViewMode">
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(transferDateModel)">
                    <p *ngIf="transferDateModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'TRANSACTION.FIELD.TRANSACTION_DATE' | translate } }}</p>
                  </div>                    
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="amountLabel">{{ 'TRANSACTION.FIELD.AMOUNT' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="amountField"
                         type="text"
                         class="form-control"
                         name="amountLabel"
                         [(ngModel)]="amount"
                         #amountModel="ngModel"
                         #amountInput
                         currencyInput
                         (change)="onChangeAmount($event)"
                         min="0"
                         maxDigits="10"
                         [ngClass]="{'is-invalid': isFieldInvalid(amountModel)}"
                         required
                         [readonly]="isViewMode">
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(amountModel)">
                    <p *ngIf="amountModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'TRANSACTION.FIELD.AMOUNT' | translate } }}</p>
                  </div>                          
                </div>      
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">{{ 'TRANSACTION.FIELD.DESCRIPTION' | translate }} (<span>{{transfer.description ? transfer.description.length : 0}}</span>)</label>
                <textarea id="descriptionField"
                          rows="8"
                          maxlength="200"
                          class="form-control"
                          name="description"
                          [(ngModel)]="transfer.description"
                          #notes="ngModel"
                          [readonly]="isViewMode"></textarea>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" singleClick (debounceClick)="persist()" [debounceTime]="700" [hidden]="isViewMode">{{ 'TRANSACTION.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'TRANSACTION.REGISTER.ACTION.'+ (isViewMode ? 'CLOSE' : 'CANCEL') | translate }}</button>
      </div>
    </form>
  </div>
</div>
