<app-spinner></app-spinner>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <alert *ngIf="submitted && alertMessage" type="danger">
                  <strong>Ops!</strong> {{alertMessage}}
                </alert>
                <form (ngSubmit)="login()" #form="ngForm">
                  <h1>{{ 'APP.LOGIN.TITLE' | translate}}</h1>
                  <p class="text-muted">{{ 'APP.LOGIN.SIGN_IN_TO' | translate}}</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input id="usernameOrEmail-field"
                           name="email"
                           #email="ngModel"
                           [(ngModel)]="loginRequest.username"
                           autofocus
                           type="text"
                           class="form-control"
                           placeholder="{{ 'APP.LOGIN.USERNAME' | translate}}"
                           autocomplete="username"
                           [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                           required>                       
                  </div>
                  <ng-container *ngIf="email.invalid && email.touched">
                    <p class="text-danger" *ngIf="email.errors?.required">
                      {{ 'APP.LOGIN.USERNAME_IS_REQUIRED' | translate}}
                    </p>
                  </ng-container> 
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input id="password-field"
                           type="password"
                           [(ngModel)]="loginRequest.password"
                           #password="ngModel"
                           name="password"
                           class="form-control"
                           placeholder="{{ 'APP.LOGIN.PASSWORD' | translate}}"
                           autocomplete="current-password"
                           [attr.aria-invalid]="password.invalid && password.touched ? true : null"
                           required>
                  </div>
                  <ng-container *ngIf="password.invalid && password.touched">
                    <p class="text-danger" *ngIf="password.errors?.required">
                      {{ 'APP.LOGIN.PASSWORD_IS_REQUIRED' | translate}}
                    </p>
                  </ng-container> 
                  <div class="row">
                    <div class="col-5">
                      <button type="submit" class="btn btn-primary px-4" [class.btn-pulse]="submitted">{{ 'APP.LOGIN.SIGN_IN_BTN' | translate}}</button>
                    </div>
                    <div class="col-7 text-right">
                      <button type="button" class="btn btn-link px-0">{{ 'APP.LOGIN.FORGOT_PASSWORD_BTN' | translate}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-light py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <img src="assets/img/brand/login-cappitalpi-logo.png" style="height: auto; width: auto;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
