<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'INSCRIPTION.REGISTER.TITLE_EDIT' | translate:{'code':inscriptionViewModel.code} }}</span>
        <span *ngIf="isNew()">{{ 'INSCRIPTION.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #inscriptionForm="ngForm" >
      <tabset>
        <!-- TODO: Tradução -->
        <tab heading="{{ 'INSCRIPTION.REGISTER.TAB.INSCRIPTION_DATA' | translate }}">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="type">{{ 'INSCRIPTION.FIELD.TYPE' | translate }}</label>
                <div class="input-group">
                  <input  id="typeDatalistInput"
                          list="typeDatalist"
                          type="text"
                          class="form-control"
                          name="type"
                          (change)="onChangeType($event)"
                          [(ngModel)]="selectedTypeItem"
                          #typeModel="ngModel"
                          #typeNameInput
                          [ngClass]="{'is-invalid': isFieldInvalid(typeModel)}"
                          maxlength="80"
                          required>
                    <div class="input-group-append">
                      <button class="btn btn-secondary cil-x" type="button" (click)="clearType()"></button>
                    </div>        
                    <div class="invalid-feedback" *ngIf="isFieldInvalid(typeModel)">
                      <p *ngIf="typeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'INSCRIPTION.FIELD.TYPE' | translate } }}</p>
                    </div>
                  </div>
                  <datalist id="typeDatalist">
                    <option *ngFor="let type of inscriptionTypes" id="type_option_{{type.code}}">{{type.name}}</option>
                </datalist>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inscriptionNumber">{{ 'INSCRIPTION.FIELD.NUMBER' | translate }}</label>
                <input  id="inscriptionNumberField"
                        type="text"
                        class="form-control"
                        name="inscriptionNumber"
                        [(ngModel)]="inscriptionViewModel.inscription.value"
                        #inscriptionNumberModel="ngModel"
                        #inscriptionNumberInput
                        maxlength="30"
                        [ngClass]="{'is-invalid': isFieldInvalid(inscriptionNumberModel)}"
                        required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(inscriptionNumberModel)">
                  <p *ngIf="inscriptionNumberModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'INSCRIPTION.FIELD.NUMBER' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="startedDate">{{ 'INSCRIPTION.FIELD.INSCRIPTION_DATE' | translate }}</label>
                <input  id="startedDateField"
                        type="date"
                        class="form-control"
                        name="startedDate"
                        [(ngModel)]="inscriptionViewModel.inscription.inscriptionDate"
                        #startedDate="ngModel"
                        #startedDateInput
                        placeholder="date">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="notes">{{ 'INSCRIPTION.FIELD.DESCRIPTION' | translate }} (<span>{{inscriptionViewModel.inscription.description ? inscriptionViewModel.inscription.description.length : 0}}</span>)</label>
                <textarea id="notesField"
                          rows="8"
                          class="form-control"
                          name="notes"
                          [(ngModel)]="inscriptionViewModel.inscription.description"
                          #notes="ngModel"
                          maxlength="500"></textarea>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="disableSaveButton">{{ 'INSCRIPTION.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'INSCRIPTION.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
