<alert *ngIf="alertMessage" type="danger">
  <strong>Ops!</strong> {{alertMessage}}
</alert>
<alert *ngIf="warningMessage" type="warning">
  {{warningMessage}}
</alert>

<app-inscription-type-search-bar (paramsEmiter)="filter($event)"></app-inscription-type-search-bar>

<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div id="card-header-content">
              <i class="fa fa-align-justify table-title-format"></i> <span class="table-title-format">{{ 'INSCRIPTION_TYPE.SEARCH.TITLE' | translate }} ({{inscriptionTypePageResult.totalElements}})</span>
              <div class="card-header-actions">
                <button type="button" class="btn btn-sm btn-block btn-outline-dark" data-toggle="modal" (click)="openRegisterScreen(null)">{{ 'INSCRIPTION_TYPE.SEARCH.ADD' | translate }}</button>
              </div>
            </div>
          </div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'INSCRIPTION_TYPE.SEARCH.TABLE.CODE' | translate }}</th>
                  <th>{{ 'INSCRIPTION_TYPE.SEARCH.TABLE.NAME' | translate }}</th>
                  <th class="text-center" style="width: 10%;">{{ 'INSCRIPTION_TYPE.SEARCH.TABLE.ACTIONS' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inscriptionType of inscriptionTypePageResult.content">
                  <td class="d-none d-sm-table-cell td-on-the-middle text-center">{{inscriptionType.code}}</td>
                  <td class="td-on-the-middle">{{inscriptionType.name}}</td>
                  <td class="td-on-the-middle text-center">
                    <button type="button" class="btn btn-ghost-dark cil-pen" (click)="edit(inscriptionType)"></button>
                    <button type="button" class="btn btn-ghost-danger cil-x" (click)="openRemoveDialog(inscriptionType)"></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div style="align-self: center;">
              <pagination [boundaryLinks]="true" 
                          [totalItems]="inscriptionTypePageResult.totalElements" 
                          [(ngModel)]="inscriptionTypePageResult.currentPage"
                          [maxSize]="20"
                          (pageChanged)="pageChanged($event)"
                          [itemsPerPage]="itemsPerPage"
                          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
        </div>
      </div>
    </div>
  </div>