<alert *ngIf="warningMessage" type="warning">
  <i class="cil-info"></i> {{warningMessage}}
</alert>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-align-justify table-title-format"></i> <span class="table-title-format">{{ 'TRANSACTION.REPORT.GROUP_BY_CHART_OF_ACCOUNT.TITLE_RESULT' |  translate:{'startDate':startDate, 'endDate':endDate} }}</span>
          </div>
        </div>
        <div *ngIf="!hasData()">
          <alert type="info">
            {{ 'APP.WARNING.DATA_NOT_FOUND' | translate}}
          </alert>
        </div>
        <table class="table table-striped table-hover" *ngIf="hasData()">
          <thead>
            <tr>
              <th class="text-left">{{ 'TRANSACTION.SEARCH.TABLE.DESCRIPTION' | translate }}</th>
              <th class="text-center" style="width: 12%;">{{ 'TRANSACTION.SEARCH.TABLE.AMOUNT' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chartOfAccount of reportDataList">
              <td class="td-on-the-middle text-left d-none d-sm-table-cell">
                {{formatDescription(chartOfAccount)}}
                <i [class]="chartOfAccount.transactionType == 'CREDIT' ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: x-large;"></i>
              </td>
              <td class="td-on-the-middle text-right d-none d-sm-table-cell">{{chartOfAccount.total | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>