.td-on-the-middle {
    vertical-align: middle;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.table-title-format {
    vertical-align: -webkit-baseline-middle;
    margin: 3px;
}

.pending-transaction {
    color: crimson;
    font-weight: bold;
}

.credit-summary {
    background-color: rgb(241, 250, 252);
}

.debit-summary {
    background-color: rgb(255, 247, 248);
}

.summary {
    background-color: rgb(226, 225, 225);
}