<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span>
          <i [class]="isCredit() ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: xx-large; padding-right: 5px;"></i>
        </span>
        <span *ngIf="!isNew()">{{ 'TRANSACTION.REGISTER.TITLE_EDIT' | translate:{'code':transaction.code} }}</span>
        <span *ngIf="isNew()">{{ 'TRANSACTION.REGISTER.TITLE_ADD.'+ selectedType.value | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab heading="{{ 'TRANSACTION.REGISTER.TAB.CASH_ACCOUNT' | translate }}">
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="accountDataList" (selectedItemsEmiter)="accountSelected($event)" [showCodeColumn]="false" [disableClick]="isUpdate()" [isDisabled]="isViewMode" [multiSelect]="false"></list-data>
              </div>
            </div>
          </div>          
        </tab>
        <!-- https://mdbootstrap.com/docs/b5/angular/components/list-group/# -->
        <tab heading="{{ 'TRANSACTION.REGISTER.TAB.CHART_OF_ACCOUNT' | translate }}">
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="chartOfAccountDataList" (selectedItemsEmiter)="chartOfAccountSelected($event)" [showCodeColumn]="false" [isDisabled]="isViewMode" [multiSelect]="false"></list-data>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'TRANSACTION.REGISTER.TAB.TRANSACTION_DATA' | translate }}">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="accountLabel">{{ 'TRANSACTION.FIELD.ACCOUNT' | translate }}</label>
                <input id="accountField" type="text" class="form-control" name="accountLabel" [(ngModel)]="selectedAccount.description" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="chartOfAccountLabel">{{ 'TRANSACTION.FIELD.CHART_OF_ACCOUNT' | translate }}</label>
                <input id="chartOfAccountField" type="text" class="form-control" name="chartOfAccountLabel" [(ngModel)]="transaction.chartOfAccount.name" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="transactionDateLabel">{{ 'TRANSACTION.FIELD.TRANSACTION_DATE' | translate }}</label>
                  <input  id="transactionDateField"
                          type="date"
                          class="form-control"
                          name="transactionDateLabel"
                          [(ngModel)]="transactionDate"
                          #transactionDateModel="ngModel"
                          #transactionDateInput
                          [ngClass]="{'is-invalid': isFieldInvalid(transactionDateModel)}"
                          placeholder="date"
                          required
                          [readonly]="isViewMode">
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(transactionDateModel)">
                    <p *ngIf="transactionDateModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'TRANSACTION.FIELD.TRANSACTION_DATE' | translate } }}</p>
                  </div>                    
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="amountLabel">{{ 'TRANSACTION.FIELD.AMOUNT' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="amountField"
                         type="text"
                         class="form-control"
                         name="amountLabel"
                         [(ngModel)]="amount"
                         #amountModel="ngModel"
                         #amountInput
                         currencyInput
                         (change)="onChangeAmount($event)"
                         min="0"
                         maxDigits="10"
                         [ngClass]="{'is-invalid': isFieldInvalid(amountModel)}"
                         required
                         [disabled]="isUpdate()"
                         [readonly]="isViewMode">
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(amountModel)">
                    <p *ngIf="amountModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'TRANSACTION.FIELD.AMOUNT' | translate } }}</p>
                  </div>                          
                </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="documentNumberInput">{{ 'TRANSACTION.FIELD.DOCUMENT_NUMBER' | translate }}</label>
                <input id="documentNumberInput"
                       type="text"
                       class="form-control"
                       name="documentNumber"
                       [(ngModel)]="transaction.documentNumber"
                       #documentNumber="ngModel"
                       maxlength="255"
                       [readonly]="isViewMode">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="paymentMethod">{{ 'TRANSACTION.FIELD.PAYMENT_METHOD' | translate }}</label>
                <select id="paymentMethodField"
                        name="paymentMethod"
                        #paymentMethod="ngModel"
                        [(ngModel)]="transaction.paymentMethod"
                        class="form-control"
                        [ngClass]="{'is-invalid': isFieldInvalid(paymentMethod)}"
                        [disabled]="isViewMode"
                        required>
                  <option *ngFor="let paymentMethod of paymentMethods" [ngValue]="paymentMethod">{{'TRANSACTION.PAYMENT_METHODS.'+paymentMethod | translate}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(paymentMethod)">
                  <p *ngIf="paymentMethod.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'TRANSACTION.FIELD.PAYMENT_METHOD' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="checkNumberInput">{{ 'TRANSACTION.FIELD.CHECK_NUMBER' | translate }}</label>
                <input id="checkNumberInput"
                       type="text"
                       class="form-control"
                       name="checkNumber"
                       [(ngModel)]="transaction.checkNumber"
                       #checkNumber="ngModel"
                       maxlength="255"
                       [readonly]="isViewMode"
                       [disabled]="isCheckNumberDisabled()">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">{{ 'TRANSACTION.FIELD.DESCRIPTION' | translate }} (<span>{{transaction.description ? transaction.description.length : 0}}</span>)</label>
                <textarea id="descriptionField"
                          rows="8"
                          maxlength="16065"
                          class="form-control"
                          name="description"
                          [(ngModel)]="transaction.description"
                          #notes="ngModel"
                          [readonly]="isViewMode"></textarea>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" singleClick (debounceClick)="persist()" [debounceTime]="700" [hidden]="isViewMode">{{ 'TRANSACTION.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'TRANSACTION.REGISTER.ACTION.'+ (isViewMode ? 'CLOSE' : 'CANCEL') | translate }}</button>
      </div>
    </form>
  </div>
</div>
