<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-edit table-title-format"></i> <span class="table-title-format">{{ 'ACCOUNT_PAYABLE.SEARCH.FILTER.TITLE' | translate }}</span>
            <button type="button" class="card-header-action btn btn-link btn-minimize"(click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
            <div class="card-header-actions">
              <button type="button" class="btn btn-sm btn-primary" (click)="search()">{{ 'ACCOUNT_PAYABLE.SEARCH.ACTION.SEARCH' | translate }}</button>
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="clear()">{{ 'ACCOUNT_PAYABLE.SEARCH.ACTION.CLEAR' | translate }}</button>
            </div>
          </div>
        </div>
        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
          <form class="form-horizontal">
            <div class="form-group row">
              <div class="controls col-md-2">
                <label class="col-form-label" for="startDate">{{ 'ACCOUNT_PAYABLE.SEARCH.START_DATE' | translate }}</label>
                <div class="input-group">
                  <input  id="startDate"
                          type="date"
                          class="form-control"
                          name="startDate"
                          [(ngModel)]="startDateFilter"
                          (keyup.enter)="search()"
                          #startDateModel="ngModel"
                          #startDateInput
                          placeholder="date">
                </div>
              </div>
              <div class="controls col-md-2">
                <label class="col-form-label" for="endDate">{{ 'ACCOUNT_PAYABLE.SEARCH.END_DATE' | translate }}</label>
                <div class="input-group">
                  <input  id="endDate"
                          type="date"
                          class="form-control"
                          name="endDate"
                          [(ngModel)]="endDateFilter"
                          (keyup.enter)="search()"
                          #endDateModel="ngModel"
                          #endDateInput
                          placeholder="date">
                </div>
              </div>
              <div class="controls col-md-4">
                <label class="col-form-label" for="endDate">{{ 'ACCOUNT_PAYABLE.SEARCH.DATE_TYPE' | translate }}</label>
                <div class="col-md-9 col-form-label">
                  <div class="form-check form-check-inline mr-1" id="dateTypeFilter">
                    <input class="form-check-input" type="radio" name="dateTypeFilter" id="issueDateType" value="ISSUE" [(ngModel)]="dateTypeFilter" #dateTypeFilterModel="ngModel">
                    <label class="form-check-label" for="issueDateType">{{ 'ACCOUNT_PAYABLE.SEARCH.ISSUE_DATE' | translate }}</label>
                  </div>
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="radio" name="dateTypeFilter" id="dueDateType" value="DUE" [(ngModel)]="dateTypeFilter" #dateTypeFilterModel="ngModel">
                    <label class="form-check-label" for="dueDateType">{{ 'ACCOUNT_PAYABLE.SEARCH.DUE_DATE' | translate }}</label>
                  </div>
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="radio" name="dateTypeFilter" id="paymentDateType" value="PAYMENT" [(ngModel)]="dateTypeFilter" #dateTypeFilterModel="ngModel">
                    <label class="form-check-label" for="paymentDateType">{{ 'ACCOUNT_PAYABLE.SEARCH.PAYMENT_DATE' | translate }}</label>
                  </div>
                </div>
              </div>   
              <div class="controls col-md-4">
                <label class="col-form-label" for="endDate">{{ 'ACCOUNT_PAYABLE.SEARCH.STATUS' | translate }}</label>
                <div class="input-group">
                  <select id="statusFilterField" name="statusFilter" #statusFilterModel #statusFilterSelect="ngModel" [(ngModel)]="statusFilter" class="form-control">
                    <option *ngFor="let status of statuses" [ngValue]="status.value">{{'ACCOUNT_PAYABLE.SEARCH.STATUS_LIST.'+status.name | translate}}</option>
                  </select>
                  <div class="input-group-append">
                    <button class="btn btn-secondary cil-x" type="button" (click)="clearStatus()"></button>
                  </div>    
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="controls col-md-2">
                <label class="col-form-label" for="searchButtonByCode">{{ 'ACCOUNT_PAYABLE.SEARCH.FILTER.CODE' | translate }}</label>
                <div class="input-group">
                  <input id="searchButtonByCode" 
                        [(ngModel)]="codeFilter"
                        (keyup.enter)="search()"
                        (keypress)="keyPressNumbers($event)" 
                        name="codeFilter" 
                        size="9" 
                        class="form-control" 
                        type="text">
                </div>
              </div>
              <div class="controls col-md-2">
                <label class="col-form-label" for="searchButtonByCode">{{ 'ACCOUNT_PAYABLE.SEARCH.FILTER.DOCUMENT_NUMBER' | translate }}</label>
                <div class="input-group">
                  <input id="documentNumber" 
                        [(ngModel)]="documentNumberFilter"
                        (keyup.enter)="search()"
                        name="documentNumberFilter" 
                        size="50"
                        class="form-control" 
                        type="text">
                </div>
              </div>
              <div class="controls col-md-4">
                <label class="col-form-label" for="supplier">{{ 'ACCOUNT_PAYABLE.SEARCH.FILTER.SUPPLIER' | translate }}</label>
                  <div class="input-group">
                    <input  id="supplierInput"
                            type="text"
                            [(ngModel)]="personSearchFilter"
                            (keyup.enter)="search()"
                            class="form-control"
                            name="supplier"
                            #supplierModel="ngModel"
                            #supplierInput>
                  </div>
              </div>
              <div class="controls col-md-4">
                <label class="col-form-label" for="searchByChartOfAccount">{{ 'ACCOUNT_PAYABLE.SEARCH.FILTER.CHART_OF_ACCOUNT' | translate }}</label>
                  <div class="input-group">
                    <input  id="chartOfAccountDatalistInput"
                            list="chartOfAccountDatalist"
                            type="text"
                            class="form-control"
                            name="chartOfAccount"
                            [(ngModel)]="selectedChartOfAccount"
                            (keyup.enter)="search()"
                            (change)="onChangeChartOfAccount($event)"
                            #chartOfAccountModel="ngModel"
                            #chartOfAccountInput
                            autocomplete="false">
                    <div class="input-group-append">
                      <button class="btn btn-secondary cil-x" type="button" (click)="clearChartOfAccount()"></button>
                    </div>        
                  </div>
                <datalist id="chartOfAccountDatalist">
                  <option *ngFor="let model of chartOfAccounts" id="chartOfAccount_option_{{model.code}}" [value]="model.label"></option>
                </datalist>
              </div>                            
            </div>
          </form>
        </div>
      </div>
    </div>  
</div>