<alert *ngIf="successMessage" type="success">
  <i class="cil-check"></i> {{successMessage}}
</alert>
<alert *ngIf="alertMessage" type="danger">
  <strong>Ops!</strong> {{alertMessage}}
</alert>
<alert *ngIf="warningMessage" type="warning">
  <i class="cil-info"></i> {{warningMessage}}
</alert>

<app-account-payable-search-bar (paramsEmiter)="filter($event)"></app-account-payable-search-bar>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-caret-down text-danger fa-align-justify table-title-format" style="font-size: xx-large; padding-right: 5px;"></i>
            <span class="table-title-format">{{ 'ACCOUNT_PAYABLE.SEARCH.TITLE' | translate }} ({{accountPayablePageResult.totalElements}})</span>
            <div class="card-header-actions">
              <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" (click)="repair()" [disabled]="!isPending(selectedAccount)">{{ 'ACCOUNT_PAYABLE.SEARCH.REPAIR' | translate }}</button>
              <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" (click)="payment()" [disabled]="!isOpen(selectedAccount)">{{ 'ACCOUNT_PAYABLE.SEARCH.PAY' | translate }}</button>
              <button type="button" class="btn btn-sm btn-outline-dark cil-dollar" style="margin-right: 20px;" data-toggle="modal" (click)="showBalanceClick()"></button>
              <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" (click)="openRegisterScreen(null, null, false)">{{ 'ACCOUNT_PAYABLE.SEARCH.ADD' | translate }}</button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center d-none d-sm-table-cell" style="width: 8%;">{{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.CODE' | translate }}</th>
              <th class="text-center d-none d-sm-table-cell" style="width: 5%;">{{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.NOTES' | translate }}</th>
              <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.ISSUE_DATE' | translate }}</th>
              <th>{{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.SUPPLIER' | translate }}</th>
              <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.DUE_DATE' | translate }}</th>
              <th class="text-right" style="width: 10%;">{{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.BALANCE' | translate }}</th>
              <th class="text-right" style="width: 10%;">{{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.AMOUNT_TO_PAY' | translate }}</th>
              <th class="text-center" style="width: 12%;">{{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let accountPayable of accountPayablePageResult.content"
                [class.pending-account-payable]="isPending(accountPayable)"
                [class.paid-account-payable]="isPaid(accountPayable)"
                [class.table-active]="isPending(accountPayable)"
                (dblclick)="dblclickOnTable(accountPayable)"
                (click)="disableClick ? $event.stopPropagation() : selectItem(accountPayable)">
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountPayable)">
                {{accountPayable.code}}
              </td>
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountPayable)">
                <button type="button" class="btn notes-button" [popover]="formatDescription(accountPayable.description)" triggers="focus" container="body">
                  <i [class]="accountPayable.description?.length > 0 ? 'fa fa-info-circle fa-lg' : 'fa fa-info-circle fa-lg text-secondary'"></i>
                </button>              
              </td>
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountPayable)">
                {{accountPayable.issueDate | date: 'yyyy-MM-dd':'GMT'}}
              </td>
              <td class="td-on-the-middle" [class.table-active]="isSelected(accountPayable)">
                <ng-template #supplierTemplate><div [innerHtml]="getTooltipSupplier(accountPayable)" class="table-tooltip"></div></ng-template>
                <span [tooltip]="supplierTemplate" placement="right">{{accountPayable.person?.name}}</span>
              </td>
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountPayable)" [class.due-account-payable]="isDue(accountPayable)">
                <ng-template #dueDateTemplate><div [innerHtml]="getTooltipDueDate(accountPayable)" class="table-tooltip"></div></ng-template>
                <span [tooltip]="dueDateTemplate" placement="left">{{accountPayable.dueDate | date: 'yyyy-MM-dd':'GMT'}}</span>
              </td>
              <td class="td-on-the-middle text-right" [class.table-active]="isSelected(accountPayable)">
                <ng-template #amountTemplate><div [innerHtml]="getTooltipAmount(accountPayable)" class="table-tooltip"></div></ng-template>
                <span [tooltip]="amountTemplate" placement="left">{{accountPayable.balance | currency}}</span>
              </td> 
              <td class="td-on-the-middle text-right" [class.table-active]="isSelected(accountPayable)">
                {{accountPayable.amountToPay | currency}}
              </td> 
              <td class="td-on-the-middle text-center" [class.table-active]="isSelected(accountPayable)">
                <button type="button" class="btn btn-ghost-dark cil-description" (click)="view(accountPayable)" [hidden]="!isPaid(accountPayable)"></button>
                <button type="button" class="btn btn-ghost-dark cil-pen" (click)="edit(accountPayable)" [disabled]="isEditButtonDisabled" [hidden]="!isOpen(accountPayable)"></button>
                <button type="button" class="btn btn-ghost-danger cil-x" (click)="openRemoveDialog(accountPayable)" [disabled]="!isOpen(accountPayable)"></button>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="showBalance">
            <tr class="total-paid-summary">
              <th class="td-on-the-middle text-right" colspan="7">
                {{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.TOTAL_PAID' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;{{totalPaid | currency}}
              </th>
              <th></th>
            </tr>
            <tr class="total-to-pay-summary">
              <th class="td-on-the-middle text-right" colspan="7">
                {{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.TOTAL_TO_PAY' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;{{totalToPay | currency}}
              </th>
              <th></th>
            </tr>
            <tr class="summary">
              <th class="td-on-the-middle text-right" colspan="7">
                {{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.TOTAL' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;
                <i [class]="total > 0 ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: x-large;"></i>
                {{total | currency}}
              </th>
              <th></th>
            </tr>
          </tfoot>
        </table>
        <div style="align-self: center;">
          <pagination [boundaryLinks]="true" 
                      [totalItems]="accountPayablePageResult.totalElements" 
                      [(ngModel)]="accountPayablePageResult.currentPage"
                      [maxSize]="20"
                      (pageChanged)="pageChanged($event)"
                      [itemsPerPage]="itemsPerPage"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
