<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span>{{ 'TRANSACTION.REGISTER.TRANSACTION_TYPE_SELECTION.TITLE' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div>
    <div class="row">
      <div class="col-12">
        <div class="list-group">
          <a class="list-group-item list-group-item-action flex-column align-items-start option-button" (click)="selectType('CREDIT')">
            <div class="row">
              <div class="col-lg-2">
                <img class="option-icon rounded img-fluid shadow-2-strong" src="assets/icon/transaction/credit.png">
              </div>
              <div class="col-lg-10">
                <div class="d-flex w-100 justify-content-between">
                  <h4 class="mb-1">{{ 'TRANSACTION.REGISTER.TRANSACTION_TYPE_SELECTION.CREDIT' | translate }}</h4>
                </div>
                <p class="mb-1">{{ 'TRANSACTION.REGISTER.TRANSACTION_TYPE_SELECTION.CREDIT_DESCRIPTION' | translate }}</p>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action flex-column align-items-start option-button" (click)="selectType('DEBIT')">
            <div class="row">
              <div class="col-lg-2">
                <img class="option-icon rounded img-fluid shadow-2-strong" src="assets/icon/transaction/debit.png">
              </div>
              <div class="col-lg-10">
                <div class="d-flex w-100 justify-content-between">
                  <h4 class="mb-1">{{ 'TRANSACTION.REGISTER.TRANSACTION_TYPE_SELECTION.DEBIT' | translate }}</h4>
                </div>
                <p class="mb-1">{{ 'TRANSACTION.REGISTER.TRANSACTION_TYPE_SELECTION.DEBIT_DESCRIPTION' | translate }}</p>
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
</div>
