<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'INSCRIPTION_TYPE.REGISTER.TITLE_EDIT' | translate:{'code':inscriptionType.code} }}</span>
        <span *ngIf="isNew()">{{ 'INSCRIPTION_TYPE.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab heading="{{ 'INSCRIPTION_TYPE.REGISTER.TAB.DATA' | translate}}">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">{{ 'INSCRIPTION_TYPE.FIELD.NAME' | translate }}</label>
                <input id="nameField" type="text" class="form-control" name="name"
                      [(ngModel)]="inscriptionType.name" #name="ngModel" #nameInput maxlength="80" [ngClass]="{'is-invalid': isFieldInvalid(name)}" required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(name)">
                  <p *ngIf="name.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'INSCRIPTION_TYPE.FIELD.NAME' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="format">{{ 'INSCRIPTION_TYPE.FIELD.FORMAT' | translate }}</label>
                <input id="formatField" type="text" class="form-control" name="format" [(ngModel)]="inscriptionType.format"  #format="ngModel" maxlength="30">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">{{ 'INSCRIPTION_TYPE.FIELD.DESCRIPTION' | translate }} (<span>{{inscriptionType.description ? inscriptionType.description.length : 0}}</span>)</label>
                <textarea id="descriptionField"
                          rows="16"
                          class="form-control"
                          name="description"
                          [(ngModel)]="inscriptionType.description"
                          maxlength="255"
                          #description="ngModel"></textarea>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="persist()" [disabled]="disableSaveButton">{{ 'INSCRIPTION_TYPE.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'INSCRIPTION_TYPE.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
