<alert *ngIf="successMessage" type="success">
  <i class="cil-check"></i> {{successMessage}}
</alert>
<alert *ngIf="alertMessage" type="danger">
  <strong>Ops!</strong> {{alertMessage}}
</alert>
<alert *ngIf="warningMessage" type="warning">
  <i class="cil-info"></i> {{warningMessage}}
</alert>

<app-auto-account-payable-search-bar (paramsEmiter)="filter($event)"></app-auto-account-payable-search-bar>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-cogs text-danger fa-align-justify table-title-format" style="font-size: large; padding-right: 5px;"></i>
            <span class="table-title-format">{{ 'AUTO_ACCOUNT_PAYABLE.SEARCH.TITLE' | translate }} ({{accountPayablePageResult.totalElements}})</span>
            <div class="card-header-actions">
              <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" (click)="openRegisterScreen(null, null, false)">{{ 'AUTO_ACCOUNT_PAYABLE.SEARCH.ADD' | translate }}</button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center d-none d-sm-table-cell" style="width: 8%;">{{ 'AUTO_ACCOUNT_PAYABLE.SEARCH.TABLE.CODE' | translate }}</th>
              <th class="text-center d-none d-sm-table-cell" style="width: 5%;">{{ 'AUTO_ACCOUNT_PAYABLE.SEARCH.TABLE.NOTES' | translate }}</th>
              <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'AUTO_ACCOUNT_PAYABLE.SEARCH.TABLE.LATEST_DATE' | translate }}</th>
              <th>{{ 'AUTO_ACCOUNT_PAYABLE.SEARCH.TABLE.SUPPLIER' | translate }}</th>
              <th class="text-right" style="width: 10%;">{{ 'AUTO_ACCOUNT_PAYABLE.SEARCH.TABLE.AMOUNT' | translate }}</th>
              <th class="text-right" style="width: 10%;">{{ 'AUTO_ACCOUNT_PAYABLE.SEARCH.TABLE.TOTAL' | translate }}</th>
              <th class="text-center" style="width: 12%;">{{ 'AUTO_ACCOUNT_PAYABLE.SEARCH.TABLE.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let accountPayable of accountPayablePageResult.content"
                [class.disabled-account-payable]="isDisabled(accountPayable)"
                (dblclick)="view(accountPayable)"
                (click)="disableClick ? $event.stopPropagation() : selectItem(accountPayable)">
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountPayable)">
                {{accountPayable.code}}
              </td>
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountPayable)">
                <button type="button" class="btn notes-button" [popover]="formatDescription(accountPayable.description)" triggers="focus" container="body">
                  <i [class]="accountPayable.description?.length > 0 ? 'fa fa-info-circle fa-lg' : 'fa fa-info-circle fa-lg text-secondary'"></i>
                </button>              
              </td>
              <td class="d-none d-sm-table-cell td-on-the-middle text-center" [class.table-active]="isSelected(accountPayable)">
                {{accountPayable.latestDate | date: 'yyyy-MM-dd':'GMT'}}
              </td>
              <td class="td-on-the-middle" [class.table-active]="isSelected(accountPayable)">
                <ng-template #supplierTemplate><div [innerHtml]="getTooltipSupplier(accountPayable)" class="table-tooltip"></div></ng-template>
                <span [tooltip]="supplierTemplate" placement="right">{{accountPayable.person?.name}}</span>
              </td>
              <td class="td-on-the-middle text-right" [class.table-active]="isSelected(accountPayable)">
                <span [tooltip]="amountTemplate" placement="left">{{accountPayable.amount | currency}}</span>
              </td> 
              <td class="td-on-the-middle text-right" [class.table-active]="isSelected(accountPayable)">
                <ng-template #balanceTemplate><div [innerHtml]="getTooltipBalance(accountPayable)" class="table-tooltip"></div></ng-template>
                <span [tooltip]="balanceTemplate" placement="left">{{accountPayable.balance | currency}}</span>
              </td> 
              <td class="td-on-the-middle text-center" [class.table-active]="isSelected(accountPayable)">
                <button type="button" class="btn btn-ghost-dark cil-pen" (click)="edit(accountPayable)"></button>
                <button type="button" class="btn btn-ghost-danger cil-x" (click)="openRemoveDialog(accountPayable)"></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="align-self: center;">
          <pagination [boundaryLinks]="true" 
                      [totalItems]="accountPayablePageResult.totalElements" 
                      [(ngModel)]="accountPayablePageResult.currentPage"
                      [maxSize]="20"
                      (pageChanged)="pageChanged($event)"
                      [itemsPerPage]="itemsPerPage"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
