.td-on-the-middle {
    vertical-align: middle;
    padding: 5px;
}

.table-title-format {
    vertical-align: -webkit-baseline-middle;
    margin: 3px;
}

.disabled-account-payable {
    color: red;
    text-decoration: line-through;
}

.table-tooltip {
    text-align: left;
}

.table td.table-active {
    font-weight: bold;
    background-color: #83bed42d;
    border-top: solid #83bed475;
    border-bottom: solid #83bed475;
}

tr:hover {
    cursor: pointer;
}
