<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span>
          <i [class]="paymentMode == 'ACCOUNT_RECEIVABLE' ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: xx-large; padding-right: 5px;"></i>
        </span>
        <span>{{ 'ACCOUNT_PAY_REC_PAYMENT.PAYMENT.TITLE' | translate:{'code':accountPayRec.code} }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab heading="{{ 'ACCOUNT_PAY_REC_PAYMENT.PAYMENT.TAB.ACCOUNT' | translate}}">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="personLabel">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.PERSON' | translate }}</label>
                <input id="personField" type="text" class="form-control" name="personLabel" [(ngModel)]="accountPayRec.person.name" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="chartOfAccountLabel">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.CHART_OF_ACCOUNT' | translate }}</label>
                <input id="chartOfAccountField" type="text" class="form-control" name="chartOfAccountLabel" [value]="chartOfAccountDescription" readonly>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="issueDate">{{ 'ACCOUNT_PAYABLE.FIELD.ISSUE_DATE' | translate }}</label>
                  <input  id="issueDateField"
                          type="date"
                          class="form-control"
                          name="issueDate"
                          placeholder="date"
                          [value]="getDateValue(accountPayRec.issueDate)"
                          readonly>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="dueDate">{{ 'ACCOUNT_PAYABLE.FIELD.DUE_DATE' | translate }}</label>
                  <input  id="dueDateField"
                          type="date"
                          class="form-control"
                          name="dueDate"
                          placeholder="date"
                          [value]="getDateValue(accountPayRec.dueDate)"
                          readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="documentNumberInput">{{ 'ACCOUNT_PAYABLE.FIELD.DOCUMENT_NUMBER' | translate }}</label>
                <input id="documentNumberInput"
                      type="text"
                      class="form-control"
                      name="documentNumber"
                      #documentNumberModel="ngModel"
                      #documentNumberInput
                      [(ngModel)]="accountPayRec.documentNumber"
                      readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="barCodeInput">{{ 'ACCOUNT_PAYABLE.FIELD.BAR_CODE' | translate }}</label>
                <input id="barCodeInput"
                       type="text"
                       class="form-control"
                       name="barCode"
                       #barCodeModel="ngModel"
                       #barCodeInput
                       [(ngModel)]="accountPayRec.barCode"
                       readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="accountAmountLabel">{{ 'ACCOUNT_PAYABLE.FIELD.AMOUNT' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="accountAmountField"
                         type="text"
                         class="form-control"
                         name="accountAmountLabel"
                         [value]="getCurrencyValue(accountPayRec.amount)"
                         currencyInput
                         readonly>
                </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="accountDiscountLabel">{{ 'ACCOUNT_PAYABLE.FIELD.DISCOUNT' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="accountDiscountField"
                         type="text"
                         class="form-control"
                         name="accountDiscountLabel"
                         [value]="getCurrencyValue(accountPayRec.discount)"
                         currencyInput
                         readonly>
                  </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="interestLabel">{{ 'ACCOUNT_PAYABLE.FIELD.INTEREST' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="accountInterestField"
                         type="text"
                         class="form-control"
                         name="accountInterestLabel"
                         [value]="getCurrencyValue(accountPayRec.interest)"
                         currencyInput
                         readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="accountTotalLabel">{{ 'ACCOUNT_PAYABLE.FIELD.TOTAL' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="accountTotalField"
                         type="text"
                         class="form-control"
                         name="accountTotalLabel"
                         [value]="getCurrencyValue(accountPayRec.balance)"
                         currencyInput
                         readonly>
                </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="accountDiscountLabel">{{ 'ACCOUNT_PAYABLE.FIELD.AMOUNT_PAID' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="accountDiscountField"
                         type="text"
                         class="form-control"
                         name="accountDiscountLabel"
                         [value]="getCurrencyValue(accountPayRec.amountPaid)"
                         currencyInput
                         readonly>
                  </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="interestLabel">{{ 'ACCOUNT_PAYABLE.FIELD.BALANCE' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="accountInterestField"
                         type="text"
                         class="form-control"
                         name="accountInterestLabel"
                         [value]="getCurrencyValue(accountPayRec.amountToPay)"
                         currencyInput
                         readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <textarea id="descriptionField"
                          rows="5"
                          class="form-control"
                          name="description"
                          [(ngModel)]="accountPayRec.description"
                          #descriptionModel="ngModel"
                          #descriptionInput
                          readonly>
                </textarea>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'ACCOUNT_PAY_REC_PAYMENT.PAYMENT.TAB.CASH_ACCOUNT' | translate}}">
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="accountDataList" (selectedItemsEmiter)="accountSelected($event)" [showCodeColumn]="false" [multiSelect]="false"></list-data>
              </div>
            </div>
          </div>          
        </tab>
        <tab heading="{{ 'ACCOUNT_PAY_REC_PAYMENT.PAYMENT.TAB.DATA' | translate}}">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="accountLabel">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.CASH_ACCOUNT' | translate }}</label>
                <input id="accountField"
                       type="text"
                       class="form-control"
                       name="accountLabel"
                       [(ngModel)]="selectedAccount.description"
                       #accountModel="ngModel"
                       #accountInput
                       [ngClass]="{'is-invalid': isFieldInvalid(accountModel)}"
                       readonly
                       required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(accountModel)">
                  <p *ngIf="accountModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT_PAY_REC_PAYMENT.FIELD.CASH_ACCOUNT' | translate } }}</p>
                </div>                    
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="paymentMethod">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.PAYMENT_METHOD' | translate }}</label>
                <select id="paymentMethodField" name="paymentMethod" #paymentMethod="ngModel" [(ngModel)]="accountPayment.paymentMethod" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid(paymentMethod)}" required>
                  <option *ngFor="let paymentMethod of paymentMethods" [ngValue]="paymentMethod">{{'ACCOUNT_PAY_REC_PAYMENT.PAYMENT_METHODS.'+paymentMethod | translate}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(paymentMethod)">
                  <p *ngIf="paymentMethod.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT_PAY_REC_PAYMENT.FIELD.PAYMENT_METHOD' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="paymentDate">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.PAYMENT_DATE' | translate }}</label>
                  <input  id="paymentDateField"
                          type="date"
                          class="form-control"
                          name="paymentDate"
                          [(ngModel)]="paymentDate"
                          #paymentDateModel="ngModel"
                          #paymentDateInput
                          [ngClass]="{'is-invalid': isFieldInvalid(paymentDateModel)}"
                          placeholder="date"
                          required>
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(paymentDateModel)">
                    <p *ngIf="paymentDateModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT_PAY_REC_PAYMENT.FIELD.PAYMENT_DATE' | translate } }}</p>
                  </div>                    
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="documentNumberInput">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.DOCUMENT_NUMBER' | translate }}</label>
                <input id="documentNumberInput"
                       type="text"
                       class="form-control"
                       name="documentNumber"
                       [(ngModel)]="accountPayment.documentNumber"
                       #documentNumber="ngModel"
                       maxlength="255">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="checkNumberInput">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.CHECK_NUMBER' | translate }}</label>
                <input id="checkNumberInput"
                       type="text"
                       class="form-control"
                       name="checkNumber"
                       [(ngModel)]="accountPayment.checkNumber"
                       #checkNumber="ngModel"
                       maxlength="20"
                       [disabled]="isCheckNumberDisabled()">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="amountLabel">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.AMOUNT' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="amountField"
                         type="text"
                         class="form-control"
                         name="amountLabel"
                         [(ngModel)]="amount"
                         #amountModel="ngModel"
                         #amountInput
                         currencyInput
                         (change)="onChangeAmount($event)"
                         min="0"
                         maxDigits="10"
                         [ngClass]="{'is-invalid': isFieldInvalid(amountModel)}"
                         required>
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(amountModel)">
                    <p *ngIf="amountModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT_PAYABLE.FIELD.AMOUNT' | translate } }}</p>
                  </div>                          
                </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="discountLabel">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.DISCOUNT' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="discountField"
                         type="text"
                         class="form-control"
                         name="discountLabel"
                         [(ngModel)]="discount"
                         #discountModel="ngModel"
                         #discountInput
                         currencyInput
                         (change)="onChangeDiscount($event)"
                         min="0"
                         maxDigits="10">
                  </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="interestLabel">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.INTEREST' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="interestField"
                         type="text"
                         class="form-control"
                         name="interestLabel"
                         [(ngModel)]="interest"
                         #interestModel="ngModel"
                         #interestInput
                         currencyInput
                         (change)="onChangeInterest($event)"
                         min="0"
                         maxDigits="10">
                </div>      
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="amountToPayLabel">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.AMOUNT_TO_PAY' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="amountToPayField"
                         type="text"
                         class="form-control"
                         name="amountToPayLabel"
                         [(ngModel)]="amountToPay"
                         #amountToPayModel="ngModel"
                         #amountToPayInput
                         currencyInput
                         readonly>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="balanceLabel">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.BALANCE' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="balanceField"
                         type="text"
                         class="form-control"
                         name="balanceLabel"
                         [(ngModel)]="balanceToPay"
                         #balanceModel="ngModel"
                         #balanceInput
                         currencyInput
                         readonly>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.NOTES' | translate }} ({{accountPayment.notes ? accountPayment.notes.length : 0}})">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <textarea id="notesField"
                          rows="21"
                          maxlength="16065"
                          class="form-control"
                          name="notes"
                          [(ngModel)]="accountPayment.notes"
                          #notes="ngModel"></textarea>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" singleClick (debounceClick)="confirmPayment()" [debounceTime]="700">{{ 'ACCOUNT_PAY_REC_PAYMENT.PAYMENT.ACTION.PAY' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'ACCOUNT_PAY_REC_PAYMENT.PAYMENT.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
