<div class="animated fadeIn">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-location-arrow table-title-format"></i> <span class="table-title-format">{{ 'ADDRESS.LIST.TITLE' | translate }}</span>
            <div class="card-header-actions">
              <button type="button" class="btn btn-sm btn-block btn-outline-dark cil-plus" data-toggle="modal" (click)="openRegisterScreen(null)"></button>
            </div>
          </div>
        </div>
        <div *ngIf="!hasAddress()">
          <alert type="info">
            {{ 'APP.WARNING.DATA_NOT_FOUND' | translate}}
          </alert>
        </div>
        <table class="table table-striped" *ngIf="hasAddress()">
          <thead>
            <tr>
              <th class="text-center d-none d-sm-table-cell" style="width: 8%;">{{ 'ADDRESS.LIST.TABLE.ITEM' | translate }}</th>
              <th>{{ 'ADDRESS.LIST.TABLE.ADDRESS' | translate }}</th>
              <th class="text-center" style="width: 20%;">{{ 'ADDRESS.LIST.TABLE.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let model of addressViewModelList">
              <td class="d-none d-sm-table-cell td-on-the-middle text-center">{{model.code}}</td>
              <td class="td-on-the-middle">{{model.addressLine}}</td>
              <td class="td-on-the-middle text-center">
                <button type="button" class="btn-sm btn-ghost-dark cil-pen" (click)="openRegisterScreen(model)"></button>
                <button type="button" class="btn-sm btn-ghost-danger cil-x" (click)="openRemoveDialog(model)"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>