<alert *ngIf="warningMessage" type="warning">
  <i class="cil-info"></i> {{warningMessage}}
</alert>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-align-justify table-title-format"></i> <span class="table-title-format">{{ 'TRANSACTION.REPORT.BY_TRANSACTION_DATE.TITLE_RESULT' |  translate:{'startDate':startDate, 'endDate':endDate} }}</span>
          </div>
        </div>
        <div *ngIf="!hasData()">
          <alert type="info">
            {{ 'APP.WARNING.DATA_NOT_FOUND' | translate}}
          </alert>
        </div>
        <table class="table table-striped table-hover" *ngIf="hasData()">
          <thead>
            <tr>
              <th class="text-center d-none d-sm-table-cell" style="width: 15%;">{{ 'TRANSACTION.SEARCH.TABLE.TRANSACTION_DATE' | translate }}</th>
              <th style="width: 30%;">{{ 'TRANSACTION.SEARCH.TABLE.CHART_OF_ACCOUNT' | translate }}</th>
              <th class="d-none d-sm-table-cell">{{ 'TRANSACTION.SEARCH.TABLE.DESCRIPTION' | translate }}</th>
              <th class="text-center" style="width: 15%;">{{ 'TRANSACTION.SEARCH.TABLE.AMOUNT' | translate }}</th>
              <th class="text-center hide-content-print-dialog" style="width: 10%;">{{ 'TRANSACTION.SEARCH.TABLE.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of reportDataList.transactions">
              <td class="d-none d-sm-table-cell td-on-the-middle text-center">
                {{transaction.transactionDate | date: 'yyyy-MM-dd':'GMT'}}
              </td>
              <td class="td-on-the-middle" *ngIf="transaction.chartOfAccount?.name">{{transaction.chartOfAccount.accountNumber}} - {{transaction.chartOfAccount.name}}</td>
              <td class="td-on-the-middle" *ngIf="!transaction.chartOfAccount?.name">{{ 'APP.WARNING.DATA_NOT_AVAILABLE' | translate }}</td>
              <td class="d-none d-sm-table-cell td-on-the-middle">{{formatDescription(transaction.description)}}</td>
              <td class="td-on-the-middle text-right">
                <i [class]="isCredit(transaction) ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: x-large;"></i>
                {{transaction.amount | currency}}
              </td>
              <td class="td-on-the-middle text-center hide-content-print-dialog">
                <button type="button" class="btn btn-ghost-danger cil-x" (click)="deleteRow(transaction)"></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="credit-summary">
              <th class="td-on-the-middle text-right" colspan="5">
                {{ 'TRANSACTION.SEARCH.TABLE.CREDIT_BALANCE' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;{{reportDataList.totalCredit | currency}}
              </th>
            </tr>
            <tr class="debit-summary">
              <th class="td-on-the-middle text-right" colspan="5">
                {{ 'TRANSACTION.SEARCH.TABLE.DEBIT_BALANCE' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;{{reportDataList.totalDebit | currency}}
              </th>
            </tr>
            <tr class="summary">
              <th class="td-on-the-middle text-right" colspan="5">
                {{ 'TRANSACTION.SEARCH.TABLE.BALANCE' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;
                <i [class]="reportDataList.total > 0 ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: x-large;"></i>
                {{reportDataList.total | currency}}
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>