<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-edit table-title-format"></i> <span class="table-title-format">{{ 'ACCOUNT.SEARCH.FILTER.TITLE' | translate }}</span>
            <button type="button" class="card-header-action btn btn-link btn-minimize"(click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
            <div class="card-header-actions">
              <button type="button" class="btn btn-sm btn-primary" (click)="search()">{{ 'ACCOUNT.SEARCH.ACTION.SEARCH' | translate }}</button>
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="clear()">{{ 'ACCOUNT.SEARCH.ACTION.CLEAR' | translate }}</button>
            </div>
          </div>
        </div>
        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
          <form class="form-horizontal">
          <div class="form-group row">
            <div class="controls col-md-2">
              <label class="col-form-label" for="searchButtonByCode">{{ 'ACCOUNT.SEARCH.FILTER.CODE' | translate }}</label>
              <div class="input-group">
                <input id="searchButtonByCode" 
                       [(ngModel)]="codeFilter"
                       (keyup.enter)="search()"
                       (keypress)="keyPressNumbers($event)" 
                       name="codeFilter" 
                       size="9" 
                       class="form-control" 
                       type="text">
              </div>
            </div>
            <div class="controls col-md-10">
              <label class="col-form-label" for="searchButtonByAccountNameOrEmail">{{ 'ACCOUNT.SEARCH.FILTER.NAME' | translate }}</label>
              <div class="input-group">
                <input id="searchButtonByAccountNameOrEmail"
                       [(ngModel)]="accountnameFilter"
                       (keyup.enter)="search()"
                       name="accountnameFilter"
                       size="80"
                       class="form-control"
                       type="text">
              </div>
            </div>
          </div>
        </form>
        </div>
    </div>  
</div>