<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'CHART_OF_ACCOUNT.REGISTER.TITLE_EDIT' | translate:{'code':chartOfAccount.code} }}</span>
        <span *ngIf="isNew()">{{ 'CHART_OF_ACCOUNT.REGISTER.TITLE_ADD' | translate }}</span>
        <i [class]="isCredit() == null ? '' : isCredit() ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: x-large;"></i>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab heading="{{ 'CHART_OF_ACCOUNT.REGISTER.TAB.CHART_OF_ACCOUNT_DATA' | translate }}">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="category">{{ 'CHART_OF_ACCOUNT.FIELD.CATEGORY' | translate }}</label>
                <select id="categoryField" name="category" #category="ngModel" [(ngModel)]="selectedCategory" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid(category)}" required [disabled]="disabledCategoryField()">
                  <option *ngFor="let category of categories" [ngValue]="category.name">{{'CHART_OF_ACCOUNT.CATEGORY.'+category.name | translate}}</option>
                </select>  
                <div class="invalid-feedback" *ngIf="isFieldInvalid(category)">
                  <p *ngIf="category.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'CHART_OF_ACCOUNT.FIELD.CATEGORY' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <label for="name">{{ 'CHART_OF_ACCOUNT.FIELD.NAME' | translate }}</label>
                <input id="nameField" type="text" class="form-control" name="name" [(ngModel)]="chartOfAccount.name" #name="ngModel" #nameInput maxlength="70" [ngClass]="{'is-invalid': isFieldInvalid(name)}" required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(name)">
                  <p *ngIf="name.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'CHART_OF_ACCOUNT.FIELD.NAME' | translate } }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="type">{{ 'CHART_OF_ACCOUNT.FIELD.TYPE' | translate }}</label>
                <select id="typeField"
                        name="type"
                        #typeModel="ngModel"
                        [(ngModel)]="selectedType"
                        class="form-control"
                        [ngClass]="{'is-invalid': isFieldInvalid(typeModel)}"
                        required
                        [disabled]="disabledTypeField()">
                  <option *ngFor="let type of types" [ngValue]="type.name">{{'TRANSACTION.TYPE.'+type.name | translate}}</option>
                </select>  
                <div class="invalid-feedback" *ngIf="isFieldInvalid(typeModel)">
                  <p *ngIf="typeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'CHART_OF_ACCOUNT.FIELD.TYPE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group" *ngIf="hasMasterAccount()">
                <label for="masterAccount">{{ 'CHART_OF_ACCOUNT.FIELD.PARENT' | translate }}</label>
                <input id="masterAccountField" type="text" class="form-control" name="masterAccount" [(ngModel)]="selectedChartOfAccountLabel" #masterAccount="ngModel" #masterAccountInput readonly>
              </div>              
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">{{ 'CHART_OF_ACCOUNT.FIELD.DESCRIPTION' | translate }} (<span>{{chartOfAccount.description ? chartOfAccount.description.length : 0}}</span>)</label>
                <textarea id="descriptionField"
                          rows="8"
                          maxlength="500"
                          class="form-control"
                          name="description"
                          [(ngModel)]="chartOfAccount.description"
                          #notes="ngModel">
                </textarea>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" singleClick (debounceClick)="persist()" [debounceTime]="700">{{ 'CHART_OF_ACCOUNT.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'CHART_OF_ACCOUNT.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
