<alert *ngIf="alertMessage" type="danger">
  <strong>Ops!</strong> {{alertMessage}}
</alert>
<alert *ngIf="warningMessage" type="warning">
  {{warningMessage}}
</alert>

<app-chart-of-account-search-bar (paramsEmiter)="filter($event)"></app-chart-of-account-search-bar>

<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div id="card-header-content">
              <i class="fa fa-align-justify table-title-format"></i> <span class="table-title-format">{{ 'CHART_OF_ACCOUNT.SEARCH.TITLE' | translate }} ({{pageResult.totalElements}})</span>
              <div class="card-header-actions">
                <button type="button" class="btn btn-sm btn-block btn-outline-dark" data-toggle="modal" (click)="addMasterAccount()">{{ 'CHART_OF_ACCOUNT.SEARCH.ADD' | translate }}</button>
              </div>
            </div>
          </div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center d-none d-sm-table-cell" style="width: 12%;">{{ 'CHART_OF_ACCOUNT.SEARCH.TABLE.CODE' | translate }}</th>
                  <th>{{ 'CHART_OF_ACCOUNT.SEARCH.TABLE.DESCRIPTION' | translate }}</th>
                  <th class="text-center d-none d-sm-table-cell" style="width: 15%;">{{ 'CHART_OF_ACCOUNT.SEARCH.TABLE.CREATED_DATE' | translate }}</th>
                  <th class="text-center d-none d-sm-table-cell" style="width: 15%;">{{ 'CHART_OF_ACCOUNT.SEARCH.TABLE.UPDATED_DATE' | translate }}</th>
                  <th class="text-center" style="width: 15%;">{{ 'CHART_OF_ACCOUNT.SEARCH.TABLE.ACTIONS' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let chartOfAccount of pageResult.content">
                  <td class="d-none d-sm-table-cell td-on-the-middle text-center">{{chartOfAccount.code}}</td>
                  <td class="td-on-the-middle">
                    {{formatDescription(chartOfAccount)}}
                    <i [class]="chartOfAccount.type == 'C' ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: x-large;"></i>
                  </td>
                  <td class="td-on-the-middle text-center d-none d-sm-table-cell">{{chartOfAccount.createdDate | date: 'yyyy-MM-dd HH:mm'}}</td>
                  <td class="td-on-the-middle text-center d-none d-sm-table-cell">{{chartOfAccount.updatedDate | date: 'yyyy-MM-dd HH:mm'}}</td>
                  <td class="td-on-the-middle text-center">
                    <button type="button" class="btn btn-ghost-dark cil-plus" (click)="add(chartOfAccount)" [hidden]="chartOfAccount.category == 'A'"></button>
                    <button type="button" class="btn btn-ghost-dark cil-pen" (click)="edit(chartOfAccount)"></button>
                    <button type="button" class="btn btn-ghost-danger cil-x" (click)="openRemoveDialog(chartOfAccount)"></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Retirar paginação -->
            <!-- https://mdbgo.io/tomekmakowski/mdb5-demo-pro/pro/components/infiniteScroll.html -->
        </div>
      </div>
    </div>
  </div>