.table-tooltip {
    text-align: left;
}

.notes-button {
    padding: 0px;
    padding-right: 3px;
    padding-left: 3px;
}

.payments-table {
    position: relative;
    height: 430px;
    overflow-y: scroll;
}

.payment-thead {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

.payment-footer {
    position: sticky;
    bottom: 0;
    background-color: white;
}
