<div class="animated fadeIn">
  <div class="col-lg-12">
    <div *ngIf="!disableClick">
      <div class="search-field input-group">
        <input id="searchField" 
               [(ngModel)]="searchField"
               (keyup.enter)="search()"
               (keyup.esc)="clear()"
               name="searchField" 
               class="form-control" 
               placeholder="{{ 'APP.FIELD.SEARCH' | translate }}..."
               type="text"
               autocomplete="off">
          <div class="input-group-append">
            <button class="btn btn-light cil-search" type="button" (click)="search()" [disabled]="disableButtons()"></button>
            <button class="btn btn-light cil-x" type="button" (click)="clear()" [disabled]="disableButtons()"></button>
          </div>   
      </div>
    </div>
    <div *ngIf="!hasData() && !submitted">
      <alert type="info">
        {{ 'APP.WARNING.ENTER_SEARCH_DATA' | translate}}
      </alert>
    </div>
    <div *ngIf="!hasData() && submitted">
      <alert type="warning">
        {{ 'APP.WARNING.DATA_NOT_FOUND' | translate}}
      </alert>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar" *ngIf="hasData()">
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let model of dataList" (click)="disableClick ? $event.stopPropagation() : selectItem(model.index)">
            <td [class.table-active]="isSelected(model)" style="width: 7px;">
              <i *ngIf="!model.unselectable" class="icon-arrow-right"></i>
              <i *ngIf="model.unselectable" class="icon-ban"></i>
            </td>
            <td [class.table-active]="isSelected(model)" [hidden]="!showCode()" style="width: 10%;">{{model.code}}</td>
            <td [class.table-active]="isSelected(model)" class="td-on-the-middle">{{model.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>