tr:hover {
    cursor: pointer;
}

.search-field {
    padding-bottom: 10px;
}

.my-custom-scrollbar {
    position: relative;
    height: 330px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table td.table-active {
    font-weight: bold;
    background-color: #83bed42d;
    color: rgb(74, 70, 70);
    border-top: solid #83bed475;
    border-bottom: solid #83bed475;
}