<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'SUPPLIER.REGISTER.TITLE_EDIT' | translate:{'code':supplier.code} }}</span>
        <span *ngIf="isNew()">{{ 'SUPPLIER.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab heading="{{ 'SUPPLIER.REGISTER.TAB.SUPPLIER_DATA' | translate }}">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="personType">{{ 'PERSON.FIELD.TYPE' | translate }}</label>
                <select id="personTypeField" name="personType" #personType="ngModel" [(ngModel)]="supplier.type" class="form-control" required>
                  <option *ngFor="let personType of personTypes" [ngValue]="personType.value">{{'PERSON.TYPES.'+personType.name | translate}}</option>
                </select>  
                <div class="invalid-feedback" *ngIf="isFieldInvalid(personType)">
                  <p *ngIf="supplier.type.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'PERSON.FIELD.TYPE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <label for="name">{{ 'PERSON.FIELD.NAME' | translate }}</label>
                <input id="nameField" type="text" class="form-control" name="name"
                      [(ngModel)]="supplier.name" #nameModel="ngModel" #nameInput maxlength="60" [ngClass]="{'is-invalid': isFieldInvalid(nameModel)}" required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(nameModel)">
                  <p *ngIf="nameModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'PERSON.FIELD.NAME' | translate } }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="!isPhysicalPerson()">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="enterpriseType">{{ 'LEGAL_PERSON.FIELD.ENTERPRISE_TYPE' | translate }}</label>
                <select id="enterpriseTypeField" name="enterpriseType" #enterpriseTypeModel="ngModel"
                        [(ngModel)]="legalPerson.type" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid(enterpriseTypeModel)}" required>
                  <option *ngFor="let type of legalPersonTypes" [ngValue]="type.value">{{'LEGAL_PERSON.TYPES.'+type.name | translate}}</option>
                </select>  
                <div class="invalid-feedback" *ngIf="isFieldInvalid(enterpriseTypeModel)">
                  <p *ngIf="enterpriseTypeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'LEGAL_PERSON.FIELD.ENTERPRISE_TYPE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <label for="businessName">{{ 'LEGAL_PERSON.FIELD.BUSINESS_NAME' | translate }}</label>
                <input id="businessNameField" type="text" class="form-control" name="businessName"
                      [(ngModel)]="legalPerson.businessName" #businessName="ngModel" #businessNameInput maxlength="60" [ngClass]="{'is-invalid': isFieldInvalid(businessName)}" required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(businessName)">
                  <p *ngIf="businessName.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'LEGAL_PERSON.FIELD.BUSINESS_NAME' | translate } }}</p>
                </div>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group" *ngIf="!isPhysicalPerson()">
                <label for="startedDate">{{ 'LEGAL_PERSON.FIELD.STARTED_DATE' | translate }}</label>
                <input  id="startedDateField"
                        type="date"
                        class="form-control"
                        name="startedDate"
                        [(ngModel)]="legalPerson.startedDate"
                        #startedDate="ngModel"
                        #startedDateInput
                        placeholder="date">
              </div>
              <div class="form-group" *ngIf="isPhysicalPerson()">
                <label for="birthDate">{{ 'PHYSICAL_PERSON.FIELD.BIRTH_DATE' | translate }}</label>
                <input  id="birthDateField"
                        type="date"
                        class="form-control"
                        name="birthDate"
                        [(ngModel)]="physicalPerson.birthDate"
                        #birthDate="ngModel"
                        #birthDateInput
                        placeholder="date">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group" *ngIf="isPhysicalPerson()">
                <label for="sex">{{ 'PHYSICAL_PERSON.FIELD.SEX' | translate }}</label>
                <select id="sexField" name="sex" #sex="ngModel" [(ngModel)]="physicalPerson.sex" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid(businessName)}" required>
                  <option *ngFor="let sex of sexs" [ngValue]="sex.value">{{'PHYSICAL_PERSON.SEXS.'+sex.name | translate}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(sex)">
                  <p *ngIf="sex.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'PHYSICAL_PERSON.FIELD.SEX' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group" *ngIf="isPhysicalPerson()">
                <label for="maritalStatus">{{ 'PHYSICAL_PERSON.FIELD.MARITAL_STATUS' | translate }}</label>
                <select id="maritalStatusField" name="maritalStatus" #maritalStatus="ngModel" [(ngModel)]="physicalPerson.maritalStatus" class="form-control">
                  <option *ngFor="let maritalStatus of maritalStatuses" [ngValue]="maritalStatus.value">{{'PHYSICAL_PERSON.MARITAL_STATUSES.'+maritalStatus.name | translate}}</option>
                </select>  
              </div>
            </div>
            <div class="col-sm-3" *ngIf="isPhysicalPerson()">
              <div class="form-group">
                <label for="nationality">{{ 'PHYSICAL_PERSON.FIELD.NATIONALITY' | translate }}</label>
                <input id="nationalityField" type="text" class="form-control" name="nationality"
                      [(ngModel)]="physicalPerson.nationality" #nationality="ngModel" #nationalityInput maxlength="30">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <address-list [addressViewModelList]="addressViewModelList"
                            (paramsEmiter)="refreshAddress($event)">
              </address-list>
            </div>
          </div>
    
        </tab>
        <tab heading="{{ 'SUPPLIER.REGISTER.TAB.PHONE_NUMBERS' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <phone-list [phoneViewModelList]="phoneViewModelList"
                          [contactViewModelList]="contactViewModelList"
                          [addressViewModelList]="addressViewModelList"
                          [personType]="supplier.type"
                          (paramsEmiter)="refreshPhones($event)">
              </phone-list>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'SUPPLIER.REGISTER.TAB.EMAILS' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <email-list [emailViewModelList]="emailViewModelList"
                          [contactViewModelList]="contactViewModelList"
                          [personType]="supplier.type"
                          (paramsEmiter)="refreshEmails($event)">
              </email-list>
            </div>
          </div>        
        </tab>
        <tab heading="{{ 'SUPPLIER.REGISTER.TAB.INSCRIPTIONS' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <inscription-list [inscriptionViewModelList]="inscriptionViewModelList"
                                (paramsEmiter)="refreshInscriptions($event)">
              </inscription-list>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'SUPPLIER.REGISTER.TAB.CONTACTS' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <contact-list [contactViewModelList]="contactViewModelList"
                            [personType]="supplier.type"
                            (paramsEmiter)="refreshContacts($event)">
              </contact-list>
            </div>
          </div>    
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="persist()" [disabled]="disableSaveButton">{{ 'SUPPLIER.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'SUPPLIER.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
