<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'CONTACT.REGISTER.TITLE_EDIT' | translate:{'code':contactViewModel.code} }}</span>
        <span *ngIf="isNew()">{{ 'CONTACT.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #contactForm="ngForm" >
      <tabset>
        <!-- TODO: Tradução -->
        <tab heading="{{ 'CONTACT.REGISTER.TAB.CONTACT_DATA' | translate }}">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <label for="contactName">{{ 'CONTACT.FIELD.NAME' | translate }}</label>
                <input  id="contactNameField"
                        type="text"
                        class="form-control"
                        name="contactName"
                        [(ngModel)]="contact.name"
                        #contactName="ngModel"
                        #contactNameInput
                        maxlength="100"
                        [ngClass]="{'is-invalid': isFieldInvalid(contactName)}"
                        required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(contactName)">
                  <p *ngIf="contactName.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'CONTACT.FIELD.NAME' | translate } }}</p>
                </div>        
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label for="contactRole" *ngIf="isLegalPerson()">{{ 'CONTACT.FIELD.ROLE' | translate }}</label>
                <label for="contactRole" *ngIf="!isLegalPerson()">{{ 'CONTACT.FIELD.RELATIONSHIP' | translate }}</label>
                <input  id="contactRoleField"
                        type="text"
                        class="form-control"
                        name="contactRole"
                        [(ngModel)]="contact.role"
                        #contactRole="ngModel"
                        #contactRoleInput
                        maxlength="50"
                        [ngClass]="{'is-invalid': isFieldInvalid(contactRole)}"
                        required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(contactRole)">
                  <p *ngIf="contactRole.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'CONTACT.FIELD.ROLE' | translate } }}</p>
                </div>                
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="updatedDate">{{ 'CONTACT.FIELD.IS_DISABLED' | translate }}</label>
                <div>
                  <label class="switch switch-label switch-outline-primary-alt">
                    <input type="checkbox" class="switch-input" name="isDisabled" [(ngModel)]="contact.disabled" checked>
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                  </label>
                </div>      
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="add()" [disabled]="disableSaveButton">{{ 'CONTACT.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'CONTACT.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
