<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'ADDRESS.REGISTER.TITLE_EDIT' | translate:{'code':addressViewModel.code} }}</span>
        <span *ngIf="isNew()">{{ 'ADDRESS.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #addressForm="ngForm" >
      <tabset>
        <!-- TODO: Tradução -->
        <tab heading="{{ 'ADDRESS.REGISTER.TAB.ADDRESS_DATA' | translate }}">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="addressType">{{ 'ADDRESS.FIELD.TYPE' | translate }}</label>
                <select id="addressTypeField"
                        name="addressType"
                        #addressTypeModel="ngModel"
                        [(ngModel)]="address.type"
                        class="form-control"
                        [ngClass]="{'is-invalid': isFieldInvalid(addressTypeModel)}"
                        required>
                  <option [value]="null" selected disabled *ngIf="address.type == null">{{ 'APP.DEFAULT_VALUES.NONE' | translate }}</option>
                  <option *ngFor="let addressType of addressTypes" [ngValue]="addressType">{{addressType.name}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(addressTypeModel)">
                  <p *ngIf="addressTypeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ADDRESS.FIELD.TYPE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3" *ngIf="address.uid">
              <div class="form-group">
                <label for="createdDate">{{ 'ADDRESS.FIELD.CREATED_DATE' | translate }}</label>
                <input  id="createdDateField"
                        type="text"
                        class="form-control"
                        name="createdDate"
                        [(ngModel)]="address.createdDate"
                        #createdDate="ngModel"
                        #createdDateInput
                        readonly>
              </div>
            </div>
            <div class="col-sm-3" *ngIf="address.uid">
              <div class="form-group">
                <label for="updatedDate">{{ 'ADDRESS.FIELD.UPDATED_DATE' | translate }}</label>
                <input  id="updatedDateField"
                        type="text"
                        class="form-control"
                        name="updatedDate"
                        [(ngModel)]="address.updatedDate"
                        #updatedDate="ngModel"
                        #updatedDateInput
                        readonly>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="updatedDate">{{ 'ADDRESS.FIELD.IS_PREFERRED' | translate }}</label>
                <div>
                  <label class="switch switch-label switch-outline-primary-alt">
                    <input type="checkbox" class="switch-input" name="isPreferred" [(ngModel)]="address.preferred" checked>
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                  </label>
                </div>      
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="addressLine1">{{ 'ADDRESS.FIELD.ADDRESS_LINE_1' | translate }}</label>
                <input  id="addressLine1Field"
                        type="text"
                        class="form-control"
                        name="addressLine1"
                        [(ngModel)]="address.addressLine1"
                        #addressLine1="ngModel"
                        #addressLine1Input
                        maxlength="200"
                        [ngClass]="{'is-invalid': isFieldInvalid(addressLine1)}"
                        required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(addressLine1)">
                  <p *ngIf="addressLine1.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ADDRESS.FIELD.ADDRESS_LINE_1' | translate } }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="addressLine2">{{ 'ADDRESS.FIELD.ADDRESS_LINE_2' | translate }}</label>
                <input  id="addressLine2Field"
                        type="text"
                        class="form-control"
                        name="addressLine2"
                        [(ngModel)]="address.addressLine2"
                        #addressLine2="ngModel"
                        #addressLine2Input
                        maxlength="100">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="city">{{ 'ADDRESS.FIELD.CITY' | translate }}</label>
                <input  id="cityDatalistInput"
                        list="cityDatalist"
                        type="text"
                        class="form-control"
                        name="city"
                        (change)="onChangeCity($event)"
                        [(ngModel)]="selectedCity.name"
                        #cityModel="ngModel"
                        #cityNameInput
                        maxlength="50"
                        [ngClass]="{'is-invalid': isFieldInvalid(cityModel)}"
                        required>
                <datalist id="cityDatalist">
                  <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                </datalist>              
                <div class="invalid-feedback" *ngIf="isFieldInvalid(cityModel)">
                  <p *ngIf="cityModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ADDRESS.FIELD.CITY' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="state">{{ 'ADDRESS.FIELD.STATE' | translate }}</label>
                <input  id="stateDatalistInput"
                        list="stateDatalist"
                        type="text"
                        class="form-control"
                        name="state"
                        (change)="onChangeState($event)"
                        [(ngModel)]="selectedState.name"
                        #stateModel="ngModel"
                        #stateNameInput
                        maxlength="50"
                        [ngClass]="{'is-invalid': isFieldInvalid(stateModel)}"
                        required>
                <datalist id="stateDatalist">
                  <option *ngFor="let state of states" [value]="state.name">{{state.stateCode}}</option>
                </datalist>              
                <div class="invalid-feedback" *ngIf="isFieldInvalid(stateModel)">
                  <p *ngIf="stateModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ADDRESS.FIELD.STATE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="country">{{ 'ADDRESS.FIELD.COUNTRY' | translate }}</label>
                <input  id="countryDatalistInput"
                        list="countryDatalist"
                        type="text"
                        class="form-control"
                        name="country"
                        (change)="onChangeCountry($event)"
                        [(ngModel)]="selectedCountry.name"
                        #countryModel="ngModel"
                        #countryNameInput
                        maxlength="50"
                        [ngClass]="{'is-invalid': isFieldInvalid(countryModel)}"
                        required>
                <datalist id="countryDatalist">
                  <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                </datalist>              
                <div class="invalid-feedback" *ngIf="isFieldInvalid(countryModel)">
                  <p *ngIf="countryModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ADDRESS.FIELD.COUNTRY' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="postalCode">{{ 'ADDRESS.FIELD.POSTAL_CODE' | translate }}</label>
                <input  id="postalCodeField"
                        type="text"
                        class="form-control"
                        name="postalCode"
                        [(ngModel)]="address.postalCode"
                        #postalCodeModel="ngModel"
                        #postalCodeInput
                        maxlength="10"
                        onkeyup="this.value = this.value.toUpperCase();"
                        [ngClass]="{'is-invalid': isFieldInvalid(postalCodeModel)}"
                        required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(postalCodeModel)">
                  <p *ngIf="postalCodeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ADDRESS.FIELD.POSTAL_CODE' | translate } }}</p>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <!-- TODO: Tradução -->
        <tab heading="{{ 'ADDRESS.REGISTER.TAB.NOTES' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="notes">{{ 'ADDRESS.FIELD.NOTES' | translate }} (<span>{{address.notes ? address.notes.length : 0}}</span>)</label>
                <textarea id="notesField"
                          rows="16"
                          class="form-control"
                          name="notes"
                          [(ngModel)]="address.notes"
                          maxlength="16065"
                          #notes="ngModel"></textarea>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="add()" [disabled]="disableSaveButton">{{ 'ADDRESS.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'ADDRESS.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
