<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'EMAIL.REGISTER.TITLE_EDIT' | translate:{'code':emailViewModel.code} }}</span>
        <span *ngIf="isNew()">{{ 'EMAIL.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #emailForm="ngForm" >
      <tabset>
        <!-- TODO: Tradução -->
        <tab heading="{{ 'EMAIL.REGISTER.TAB.EMAIL_DATA' | translate }}">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <label for="emailAddress">{{ 'EMAIL.FIELD.EMAIL_ADDRESS' | translate }}</label>
                <input  id="emailAddressField"
                        type="text"
                        class="form-control"
                        name="emailAddress"
                        [(ngModel)]="emailViewModel.email.emailAddress"
                        #emailAddressModel="ngModel"
                        #emailAddressInput
                        maxlength="70"
                        [ngClass]="{'is-invalid': isFieldInvalid(emailAddressModel)}"
                        required
                        email>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(emailAddressModel)">
                  <p *ngIf="emailAddressModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'EMAIL.FIELD.EMAIL_ADDRESS' | translate } }}</p>
                  <p *ngIf="emailAddressModel.errors?.email">{{ 'APP.VALIDATION.INVALID_EMAIL' | translate }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="updatedDate">{{ 'EMAIL.FIELD.IS_DISABLED' | translate }}</label>
                <div>
                  <label class="switch switch-label switch-outline-primary-alt">
                    <input type="checkbox" class="switch-input" name="isDisabled" [(ngModel)]="emailViewModel.email.disabled" checked>
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                  </label>
                </div>      
              </div>
            </div>
          </div>
          <!-- https://www.w3schools.com/howto/howto_js_autocomplete.asp -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="contact">{{ 'EMAIL.FIELD.CONTACT' | translate }}</label>
                <div class="input-group">
                  <input  id="contactDatalistInput"
                          list="contactDatalist"
                          type="text"
                          class="form-control"
                          name="contact"
                          (change)="onChangeContact($event)"
                          [(ngModel)]="selectedContactName"
                          #contactModel="ngModel"
                          #contactNameInput
                          maxlength="100">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" [class]="isContactPrepared ? 'cil-x' : 'cil-plus'" type="button" (click)="addContact()"></button>
                  </div>
                </div>
                <datalist id="contactDatalist">
                  <option *ngFor="let model of contactViewModelList"
                          id="contact_option_{{model.index}}"
                          [label]="model.contact.role"
                          [ngValue]="model.index">{{model.itemLabel}}</option>
                </datalist>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="contactRole" *ngIf="isLegalPerson()">{{ 'EMAIL.FIELD.ROLE' | translate }}</label>
                <label for="contactRole" *ngIf="!isLegalPerson()">{{ 'EMAIL.FIELD.RELATIONSHIP' | translate }}</label>
                <input  id="contactRoleField"
                        type="text"
                        class="form-control"
                        name="contactRole"
                        [(ngModel)]="selectedContactRole"
                        #contactRole="ngModel"
                        #contactRoleInput
                        maxlength="50"
                        [readonly]="!isContactPrepared">
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="disableSaveButton">{{ 'EMAIL.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'EMAIL.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
