<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'USER.REGISTER.TITLE_EDIT' | translate:{'code':user.code} }}</span>
        <span *ngIf="isNew()">{{ 'USER.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">{{ 'USER.FIELD.NAME' | translate }}</label>
            <input id="nameField" type="text" class="form-control" name="name"
                  [(ngModel)]="user.name" #name="ngModel" #nameInput maxlength="60" [ngClass]="{'is-invalid': isFieldInvalid(name)}" required>
            <div class="invalid-feedback" *ngIf="isFieldInvalid(name)">
              <p *ngIf="name.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'USER.FIELD.NAME' | translate } }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="username">{{ 'USER.FIELD.USERNAME' | translate }}</label>
            <input id="usernameField" type="text" class="form-control" name="username"
                  [(ngModel)]="user.username"  #username="ngModel" maxlength="20" [ngClass]="{'is-invalid': isFieldInvalid(username)}" required>
            <div class="invalid-feedback" *ngIf="isFieldInvalid(username)">
              <p *ngIf="username.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'USER.FIELD.USERNAME' | translate } }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="email">{{ 'USER.FIELD.EMAIL' | translate }}</label>
            <input id="email" type="text" class="form-control" name="email"
                  [(ngModel)]="user.email" #email="ngModel" maxlength="60" [ngClass]="{'is-invalid': isFieldInvalid(email)}" required email>
            <div class="invalid-feedback" *ngIf="isFieldInvalid(email)">
              <p *ngIf="email.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'USER.FIELD.EMAIL' | translate } }}</p>
              <p *ngIf="email.errors?.email">{{ 'APP.VALIDATION.INVALID_EMAIL' | translate }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4" *ngIf="!isNew()">
          <label for="currentPassword">{{ 'USER.FIELD.CURRENT_PASSWORD' | translate }}</label>
          <input id="currentPassword" type="password" class="form-control" name="currentPassword"
                [(ngModel)]="user.currentPassword" #currentPassword="ngModel" maxlength="100" [ngClass]="{'is-invalid': isFieldInvalid(currentPassword)}" required>
          <div class="invalid-feedback" *ngIf="isFieldInvalid(currentPassword)">
            <p *ngIf="currentPassword.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'USER.FIELD.CURRENT_PASSWORD' | translate } }}</p>
          </div>    
        </div>
        <div class="form-group {{isNew() ? 'col-sm-6' : 'col-sm-4'}}">
          <label for="newPassword">{{ 'USER.FIELD.PASSWORD' | translate }}</label>
          <input id="newPassword" type="password" class="form-control" name="password"
                [(ngModel)]="user.password" #password="ngModel" maxlength="100" [ngClass]="{'is-invalid': isFieldInvalid(password)}" required minlength="8">
          <div class="invalid-feedback" *ngIf="isFieldInvalid(password)">
            <p *ngIf="password.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'USER.FIELD.PASSWORD' | translate } }}</p>
            <p *ngIf="password.errors?.minlength">{{ 'APP.VALIDATION.MIN_LENGTH' | translate:{ 'fieldname': 'USER.FIELD.PASSWORD' | translate, 'min':'8' } }}</p>
          </div>          
        </div>
        <div class="form-group {{isNew() ? 'col-sm-6' : 'col-sm-4'}}">
          <label for="passwordConfirmation">{{ 'USER.FIELD.CONFIRM_PASSWORD' | translate }}</label>
          <input id="passwordConfirmation" type="password" class="form-control" name="confirmPassword"
                [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" maxlength="100" [ngClass]="{'is-invalid': isFieldInvalid(confirmPassword)}" required>
          <div class="invalid-feedback" *ngIf="isFieldInvalid(confirmPassword)">
            <p *ngIf="confirmPassword.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'USER.FIELD.CONFIRM_PASSWORD' | translate } }}</p>
          </div>              
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="persist()" [disabled]="disableSaveButton">{{ 'USER.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'USER.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
