<alert *ngIf="warningMessage" type="warning">
  <i class="cil-info"></i> {{warningMessage}}
</alert>

<div class="animated fadeIn">
  <div class="row" *ngIf="!showReport()">
    <div class="col-sm-12 col-md-6">
      <div class="card border-info card-report" (click)="openFilterScreen('GROUPED_BY_CHART_OF_ACCOUNT')">
        <div class="card-header">
          <i class="fa fa-print"></i><b>{{ 'TRANSACTION.REPORT.GROUP_BY_CHART_OF_ACCOUNT.TITLE' | translate }}</b>
        </div>
        <!-- <a class="card-block stretched-link text-decoration-none" href="#" (click)="openFilterScreen('GROUPED_BY_CHART_OF_ACCOUNT')"> -->
          <div class="card-body">
            {{ 'TRANSACTION.REPORT.GROUP_BY_CHART_OF_ACCOUNT.DESCRIPTION' | translate }}
          </div>
        <!-- </a> -->
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card border-info card-report" (click)="openFilterScreen('BY_TRANSACTION_DATE')">
        <div class="card-header">
          <i class="fa fa-print"></i><b>{{ 'TRANSACTION.REPORT.BY_TRANSACTION_DATE.TITLE' | translate }}</b>
        </div>
        <div class="card-body">
          {{ 'TRANSACTION.REPORT.BY_TRANSACTION_DATE.DESCRIPTION' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showReport()">
    <div class="col-12">
      <div class="form-group hide-content-print-dialog">
        <button type="button" class="btn btn-outline-dark" (click)="back()" aria-label="Close">
          <span aria-hidden="true">{{ 'APP.ACTION.BACK' | translate}}</span>
        </button>
      </div>
      <div class="form-group">
        <app-group-by-chart-of-account-report *ngIf="filterRequest?.selectedReport === 'GROUPED_BY_CHART_OF_ACCOUNT'"
                                              [filter]="filterRequest">
        </app-group-by-chart-of-account-report>
        <app-transaction-by-date-report *ngIf="filterRequest?.selectedReport === 'BY_TRANSACTION_DATE'"
                                        [filter]="filterRequest">
        </app-transaction-by-date-report>
      </div>
    </div>
  </div>
</div>