<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span>
          <i [class]="'fa fa-caret-up text-primary'" style="font-size: xx-large; padding-right: 5px;"></i>
        </span>
        <span >{{ 'TRANSACTION.REPORT.FILTER.TITLE' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab heading="{{ 'TRANSACTION.REPORT.TAB.CASH_ACCOUNT' | translate}}">
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="accountDataList" (selectedItemsEmiter)="accountsSelected($event)" [showCodeColumn]="false" [multiSelect]="true"></list-data>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'TRANSACTION.REPORT.TAB.CREDIT_CHART_OF_ACCOUNT' | translate}}">
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="chartOfAccountCreditDataList" (selectedItemsEmiter)="chartOfAccountsCreditSelected($event)" [showCodeColumn]="false" [multiSelect]="true"></list-data>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'TRANSACTION.REPORT.TAB.DEBIT_CHART_OF_ACCOUNT' | translate}}">
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="chartOfAccountDebitDataList" (selectedItemsEmiter)="chartOfAccountsDebitSelected($event)" [showCodeColumn]="false" [multiSelect]="true"></list-data>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'TRANSACTION.REPORT.TAB.TRANSACTION_DATA' | translate}}">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="startDateLabel">{{ 'TRANSACTION.REPORT.FIELD.START_DATE' | translate }}</label>
                  <input  id="startDateField"
                          type="date"
                          class="form-control"
                          name="startDateLabel"
                          [(ngModel)]="startDate"
                          #startDateModel="ngModel"
                          #startDateInput
                          [ngClass]="{'is-invalid': isFieldInvalid(startDateModel)}"
                          placeholder="date"
                          required>
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(startDateModel)">
                    <p *ngIf="startDateModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'TRANSACTION.FIELD.TRANSACTION_DATE' | translate } }}</p>
                  </div>                    
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="endDateLabel">{{ 'TRANSACTION.REPORT.FIELD.END_DATE' | translate }}</label>
                  <input  id="endDateField"
                          type="date"
                          class="form-control"
                          name="endDateLabel"
                          [(ngModel)]="endDate"
                          #endDateModel="ngModel"
                          #endDateInput
                          [ngClass]="{'is-invalid': isFieldInvalid(endDateModel)}"
                          placeholder="date"
                          required>
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(endDateModel)">
                    <p *ngIf="endDateModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'TRANSACTION.FIELD.TRANSACTION_DATE' | translate } }}</p>
                  </div>                    
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" singleClick (debounceClick)="filter()" [debounceTime]="700">{{ 'APP.ACTION.SEARCH' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'APP.ACTION.CLOSE' | translate }}</button>
      </div>
    </form>
  </div>
</div>
