<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span>
          <i class="fa fa-cogs text-danger" style="font-size: large; padding-right: 5px;"></i>
        </span>
        <span *ngIf="!isNew() && !isViewMode">{{ 'AUTO_ACCOUNT_PAYABLE.REGISTER.TITLE_EDIT' | translate:{'code':accountPayable.code} }}</span>
        <span *ngIf="!isNew() && isViewMode">{{ 'AUTO_ACCOUNT_PAYABLE.REGISTER.TITLE_VIEW' | translate:{'code':accountPayable.code} }}</span>
        <span *ngIf="isNew()">{{ 'AUTO_ACCOUNT_PAYABLE.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab heading="{{ 'AUTO_ACCOUNT_PAYABLE.REGISTER.TAB.SUPPLIER' | translate}}">
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <data-list-lazy [setDataList]="personDataList"
                                (selectedItemEmitter)="personSelected($event)"
                                (searchTermEmitter)="filterPerson($event)"
                                [showCodeColumn]="true"
                                [isDisabled]="isViewMode">
                </data-list-lazy>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'AUTO_ACCOUNT_PAYABLE.REGISTER.TAB.CHART_OF_ACCOUNT' | translate}}">
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="chartOfAccountDataList"
                           (selectedItemsEmiter)="chartOfAccountSelected($event)"
                           [showCodeColumn]="false"
                           [isDisabled]="isViewMode"
                           [multiSelect]="false">
                </list-data>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'AUTO_ACCOUNT_PAYABLE.REGISTER.TAB.DATA' | translate}}">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="person">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.SUPPLIER' | translate }}</label>
                <input id="personField" type="text" class="form-control" name="person" [(ngModel)]="selectedPerson.description" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="chartOfAccount">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.CHART_OF_ACCOUNT' | translate }}</label>
                <input id="chartOfAccountField" type="text" class="form-control" name="chartOfAccount" [(ngModel)]="selectedChartOfAccount.description" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="documentNumberInput">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.DOCUMENT_NUMBER' | translate }}</label>
                <input id="documentNumberInput"
                       type="text"
                       class="form-control"
                       name="documentNumber"
                       [(ngModel)]="accountPayable.documentNumber"
                       #documentNumber="ngModel"
                       maxlength="255"
                       [readonly]="isViewMode">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="frequencyStartDate">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.FREQUENCY_START_DATE' | translate }}</label>
                  <input  id="frequencyStartDateField"
                          type="date"
                          class="form-control"
                          name="frequencyStartDate"
                          [(ngModel)]="frequencyStartDate"
                          #frequencyStartDateModel="ngModel"
                          #frequencyStartDateInput
                          [ngClass]="{'is-invalid': isFieldInvalid(frequencyStartDateModel)}"
                          placeholder="date"
                          required
                          [readonly]="isViewMode">
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(frequencyStartDateModel)">
                    <p *ngIf="frequencyStartDateModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'AUTO_ACCOUNT_PAYABLE.FIELD.FREQUENCY_START_DATE' | translate } }}</p>
                  </div>                    
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="frequencyEndDate">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.FREQUENCY_END_DATE' | translate }}</label>
                  <input  id="frequencyEndDateField"
                          type="date"
                          class="form-control"
                          name="frequencyEndDate"
                          [(ngModel)]="frequencyEndDate"
                          #frequencyEndDateModel="ngModel"
                          #frequencyEndDateInput
                          placeholder="date"
                          [readonly]="isViewMode">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="frequencyType">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.FREQUENCY_TYPE' | translate }}</label>
                <select id="frequencyTypeField"
                        name="frequencyType"
                        #frequencyTypeModel="ngModel"
                        [(ngModel)]="accountPayable.frequencyType"
                        class="form-control"
                        [ngClass]="{'is-invalid': isFieldInvalid(frequencyTypeModel)}"
                        required
                        [disabled]="isViewMode">
                  <option *ngFor="let frequencyType of frequencyTypes" [ngValue]="frequencyType.value">{{'AUTO_ACCOUNT_PAYABLE.FREQUENCY_TYPES.'+frequencyType.name | translate}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(frequencyTypeModel)">
                  <p *ngIf="frequencyTypeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'AUTO_ACCOUNT_PAYABLE.FIELD.FREQUENCY_TYPE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="skipWeekends">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.SKIP_WEEKENDS' | translate }}</label>
                <div>
                  <label class="switch switch-label switch-outline-primary-alt">
                    <input type="checkbox" class="switch-input" name="skipWeekends" [(ngModel)]="accountPayable.skipWeekend" checked [disabled]="isViewMode">
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                  </label>
                </div>      
              </div>
            </div>
          </div>
          <div class="row" *ngIf="showWeekDays()">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Weekdays</label>
                <div class="col-md-12 col-form-label">
                  <div class="form-check form-check-inline mr-1 weekdays-selection">
                    <input class="form-check-input" type="checkbox" id="inline-checkboxSunday" name="sundaySelection" [(ngModel)]="accountPayable.sunday" [disabled]="isViewMode">
                    <label class="form-check-label" for="inline-checkbox1">Sunday</label>
                  </div>
                  <div class="form-check form-check-inline mr-1 weekdays-selection">
                    <input class="form-check-input" type="checkbox" id="inline-checkboxMonday" name="mondaySelection"  [(ngModel)]="accountPayable.monday" [disabled]="isViewMode">
                    <label class="form-check-label" for="inline-checkbox2">Monday</label>
                  </div>
                  <div class="form-check form-check-inline mr-1 weekdays-selection">
                    <input class="form-check-input" type="checkbox" id="inline-checkboxTuesday" name="tuesdaySelection" [(ngModel)]="accountPayable.tuesday" [disabled]="isViewMode">
                    <label class="form-check-label" for="inline-checkbox3">Tuesday</label>
                  </div>
                  <div class="form-check form-check-inline mr-1 weekdays-selection">
                    <input class="form-check-input" type="checkbox" id="inline-checkboxWednesday" name="wednesdaySelection" [(ngModel)]="accountPayable.wednesday" [disabled]="isViewMode">
                    <label class="form-check-label" for="inline-checkbox3">Wednesday</label>
                  </div>
                  <div class="form-check form-check-inline mr-1 weekdays-selection">
                    <input class="form-check-input" type="checkbox" id="inline-checkboxThursday" name="thursdaySelection" [(ngModel)]="accountPayable.thursday" [disabled]="isViewMode">
                    <label class="form-check-label" for="inline-checkbox3">Thursday</label>
                  </div>
                  <div class="form-check form-check-inline mr-1 weekdays-selection">
                    <input class="form-check-input" type="checkbox" id="inline-checkboxFriday" name="fridaySelection" [(ngModel)]="accountPayable.friday" [disabled]="isViewMode">
                    <label class="form-check-label" for="inline-checkbox3">Friday</label>
                  </div>
                  <div class="form-check form-check-inline mr-1 weekdays-selection">
                    <input class="form-check-input" type="checkbox" id="inline-checkboxSaturday" name="saturdaySelection" [(ngModel)]="accountPayable.saturday" [disabled]="isViewMode">
                    <label class="form-check-label" for="inline-checkbox3">Saturday</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="repeatType">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.REPEAT_TYPE' | translate }}</label>
                <select id="repeatTypeField"
                        name="repeatType"
                        #repeatTypeModel="ngModel"
                        [(ngModel)]="accountPayable.repeatType"
                        class="form-control"
                        [ngClass]="{'is-invalid': isFieldInvalid(repeatTypeModel)}"
                        required
                        [disabled]="isViewMode">
                  <option *ngFor="let repeatType of repeatTypes"
                          [ngValue]="repeatType.value">{{'AUTO_ACCOUNT_PAYABLE.REPEAT_TYPES.'+repeatType.name | translate:{ 'label': 'AUTO_ACCOUNT_PAYABLE.FREQUENCY_TYPE_LABELS.'+accountPayable.frequencyType | translate} }}
                  </option>
                </select>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(repeatTypeModel)">
                  <p *ngIf="repeatTypeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'AUTO_ACCOUNT_PAYABLE.FIELD.REPEAT_TYPE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3" *ngIf="showFrequencyAmount()">
              <div class="form-group">
                <label for="phoneNumber">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.FREQUENCY_AMOUNT' | translate:{ 'label': 'AUTO_ACCOUNT_PAYABLE.FREQUENCY_TYPE_LABELS.'+accountPayable.frequencyType | translate} }}</label>
                <input  id="frequencyAmountField"
                        type="text"
                        class="form-control"
                        name="frequencyAmount"
                        [(ngModel)]="accountPayable.frequencyAmount"
                        #frequencyAmountModel="ngModel"
                        #frequencyAmountInput
                        maxlength="9"
                        min="0"
                        pattern="[0-9]*"
                        [ngClass]="{'is-invalid': isFieldInvalid(frequencyAmountModel)}"
                        required
                        [readonly]="isViewMode">
                <div class="invalid-feedback" *ngIf="isFieldInvalid(frequencyAmountModel)">
                  <p *ngIf="frequencyAmountModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'AUTO_ACCOUNT_PAYABLE.FIELD.FREQUENCY_AMOUNT' | translate:{ 'label': 'AUTO_ACCOUNT_PAYABLE.FREQUENCY_TYPE_LABELS.'+accountPayable.frequencyType | translate} } }}</p>
                  <p *ngIf="frequencyAmountModel.errors?.pattern">{{ 'APP.VALIDATION.INVALID_NUMBER' | translate }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="costType">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.COST_TYPE' | translate }}</label>
                <select id="costTypeField"
                        name="costType"
                        #costTypeModel="ngModel"
                        [(ngModel)]="accountPayable.costType"
                        class="form-control"
                        [ngClass]="{'is-invalid': isFieldInvalid(costTypeModel)}"
                        [disabled]="isViewMode"
                        required>
                  <option *ngFor="let costType of costTypes" [ngValue]="costType.value">{{'AUTO_ACCOUNT_PAYABLE.COST_TYPES.'+costType.name | translate}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(costTypeModel)">
                  <p *ngIf="costTypeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'AUTO_ACCOUNT_PAYABLE.FIELD.COST_TYPE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="disabled">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.DISABLED' | translate }}</label>
                <div>
                  <label class="switch switch-label switch-outline-primary-alt">
                    <input type="checkbox" class="switch-input" name="disabled" [(ngModel)]="accountPayable.disabled" [disabled]="isViewMode" checked>
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                  </label>
                </div>      
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="amountLabel">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.AMOUNT' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="amountField"
                         type="text"
                         class="form-control"
                         name="amountLabel"
                         [(ngModel)]="amount"
                         #amountModel="ngModel"
                         #amountInput
                         currencyInput
                         (change)="onChangeAmount($event)"
                         min="0"
                         maxDigits="10"
                         [ngClass]="{'is-invalid': isFieldInvalid(amountModel)}"
                         required
                         [readonly]="isViewMode">
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(amountModel)">
                    <p *ngIf="amountModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'AUTO_ACCOUNT_PAYABLE.FIELD.AMOUNT' | translate } }}</p>
                  </div>                          
                </div>      
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="discountLabel">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.DISCOUNT' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="discountField"
                         type="text"
                         class="form-control"
                         name="discountLabel"
                         [(ngModel)]="discount"
                         #discountModel="ngModel"
                         #discountInput
                         currencyInput
                         (change)="onChangeDiscount($event)"
                         min="0"
                         maxDigits="10"
                         [readonly]="isViewMode">
                  </div>      
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="interestLabel">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.INTEREST' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="interestField"
                         type="text"
                         class="form-control"
                         name="interestLabel"
                         [(ngModel)]="interest"
                         #interestModel="ngModel"
                         #interestInput
                         currencyInput
                         (change)="onChangeInterest($event)"
                         min="0"
                         maxDigits="10"
                         [readonly]="isViewMode">
                </div>      
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="totalLabel">{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.TOTAL' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="totalField"
                         type="text"
                         class="form-control"
                         name="totalLabel"
                         [(ngModel)]="total"
                         #totalModel="ngModel"
                         #totalInput
                         currencyInput
                         readonly>
                </div>      
              </div>
            </div>            
          </div>
        </tab>
        <tab heading="{{ 'AUTO_ACCOUNT_PAYABLE.FIELD.DESCRIPTION' | translate }} ({{accountPayable.description ? accountPayable.description.length : 0}})">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <textarea id="descriptionField"
                          rows="21"
                          maxlength="16065"
                          class="form-control"
                          name="description"
                          [(ngModel)]="accountPayable.description"
                          #description="ngModel"
                          [readonly]="isViewMode"></textarea>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" singleClick (debounceClick)="persist()" [debounceTime]="700" [hidden]="isViewMode">{{ 'AUTO_ACCOUNT_PAYABLE.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'AUTO_ACCOUNT_PAYABLE.REGISTER.ACTION.'+ (isViewMode ? 'CLOSE' : 'CANCEL') | translate }}</button>
      </div>
    </form>
  </div>
</div>
