<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'EMPLOYEE.REGISTER.TITLE_EDIT' | translate:{'code':employee.code} }}</span>
        <span *ngIf="isNew()">{{ 'EMPLOYEE.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab heading="{{ 'EMPLOYEE.REGISTER.TAB.EMPLOYEE_DATA' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">{{ 'PERSON.FIELD.NAME' | translate }}</label>
                <input id="nameField" type="text" class="form-control" name="name"
                      [(ngModel)]="employee.name" #nameModel="ngModel" #nameInput maxlength="60" [ngClass]="{'is-invalid': isFieldInvalid(nameModel)}" required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(nameModel)">
                  <p *ngIf="nameModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'PERSON.FIELD.NAME' | translate } }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="sex">{{ 'PHYSICAL_PERSON.FIELD.SEX' | translate }}</label>
                <select id="sexField" name="sex" #sexModel="ngModel" [(ngModel)]="physicalPerson.sex" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid(sexModel)}" required>
                  <option *ngFor="let sex of sexs" [ngValue]="sex.value">{{'PHYSICAL_PERSON.SEXS.'+sex.name | translate}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(sexModel)">
                  <p *ngIf="sexModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'PHYSICAL_PERSON.FIELD.SEX' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group" >
                <label for="maritalStatus">{{ 'PHYSICAL_PERSON.FIELD.MARITAL_STATUS' | translate }}</label>
                <select id="maritalStatusField" name="maritalStatus" #maritalStatus="ngModel" [(ngModel)]="physicalPerson.maritalStatus" class="form-control">
                  <option *ngFor="let maritalStatus of maritalStatuses" [ngValue]="maritalStatus.value">{{'PHYSICAL_PERSON.MARITAL_STATUSES.'+maritalStatus.name | translate}}</option>
                </select>  
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="nationality">{{ 'PHYSICAL_PERSON.FIELD.NATIONALITY' | translate }}</label>
                <input id="nationalityField" type="text" class="form-control" name="nationality"
                      [(ngModel)]="physicalPerson.nationality" #nationality="ngModel" #nationalityInput maxlength="30">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <address-list [addressViewModelList]="addressViewModelList"
                            (paramsEmiter)="refreshAddress($event)">
              </address-list>
            </div>
          </div>
    
        </tab>
        <tab heading="{{ 'EMPLOYEE.REGISTER.TAB.PHONE_NUMBERS' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <phone-list [phoneViewModelList]="phoneViewModelList"
                          [contactViewModelList]="contactViewModelList"
                          [addressViewModelList]="addressViewModelList"
                          [personType]="employee.type"
                          (paramsEmiter)="refreshPhones($event)">
              </phone-list>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'EMPLOYEE.REGISTER.TAB.EMAILS' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <email-list [emailViewModelList]="emailViewModelList"
                          [contactViewModelList]="contactViewModelList"
                          [personType]="employee.type"
                          (paramsEmiter)="refreshEmails($event)">
              </email-list>
            </div>
          </div>        
        </tab>
        <tab heading="{{ 'EMPLOYEE.REGISTER.TAB.DOCUMENTS' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <inscription-list [inscriptionViewModelList]="inscriptionViewModelList"
                                (paramsEmiter)="refreshInscriptions($event)">
              </inscription-list>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'EMPLOYEE.REGISTER.TAB.CONTACTS' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <contact-list [contactViewModelList]="contactViewModelList"
                            [personType]="employee.type"
                            (paramsEmiter)="refreshContacts($event)">
              </contact-list>
            </div>
          </div>    
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="persist()" [disabled]="disableSaveButton">{{ 'EMPLOYEE.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'EMPLOYEE.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
