<div class="animated fadeIn">
  <div class="col-lg-12">
    <div *ngIf="!disableClick">
      <!-- <label class="col-form-label" for="searchButtonByCode">{{ 'APP.FIELD.SEARCH' | translate }}</label> -->
      <div class="search-field">
        <input id="searchField" 
               [(ngModel)]="searchField"
               (input)="search($event.target.value)"
               name="searchField" 
               class="form-control" 
               placeholder="{{ 'APP.FIELD.SEARCH' | translate }}..."
               type="text"
               autocomplete="off"
               [disabled]="isDisabled">
      </div>
    </div>
    <div *ngIf="!hasData()">
      <alert type="warning">
        {{ 'APP.WARNING.DATA_NOT_FOUND' | translate}}
      </alert>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar" *ngIf="hasData()">
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let model of dataList" (click)="disableClick ? $event.stopPropagation() : selectItem(model.index)">
            <td [class.table-active]="isSelected(model)" style="width: 7px;">
              <i *ngIf="!model.unselectable" class="icon-arrow-right"></i>
              <i *ngIf="model.unselectable" class="icon-ban"></i>
            </td>
            <td [class.table-active]="isSelected(model)" [hidden]="!showCode()">{{model.code}}</td>
            <td [class.table-active]="isSelected(model)" class="td-on-the-middle">{{model.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>