<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span>
          <i class="fa fa-caret-down text-danger" style="font-size: xx-large; padding-right: 5px;"></i>
        </span>
        <span *ngIf="!isNew() && !isViewMode">{{ 'ACCOUNT_PAYABLE.REGISTER.TITLE_EDIT' | translate:{'code':accountPayable.code} }}</span>
        <span *ngIf="!isNew() && isViewMode">{{ 'ACCOUNT_PAYABLE.REGISTER.TITLE_VIEW' | translate:{'code':accountPayable.code} }}</span>
        <span *ngIf="isNew()">{{ 'ACCOUNT_PAYABLE.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #form="ngForm">
      <tabset>
        <tab heading="{{ 'ACCOUNT_PAYABLE.REGISTER.TAB.SUPPLIER' | translate}}">
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <data-list-lazy [setDataList]="personDataList"
                                (selectedItemEmitter)="personSelected($event)"
                                (searchTermEmitter)="filterPerson($event)"
                                [showCodeColumn]="true"
                                [isDisabled]="isViewMode">
                </data-list-lazy>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'ACCOUNT_PAYABLE.REGISTER.TAB.CHART_OF_ACCOUNT' | translate}}">
          <div class="row">
            <div class="form-group col-lg-12">
              <div>
                <list-data [setDataList]="chartOfAccountDataList"
                           (selectedItemsEmiter)="chartOfAccountSelected($event)"
                           [showCodeColumn]="false"
                           [isDisabled]="isViewMode"
                           [multiSelect]="false">
                </list-data>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'ACCOUNT_PAYABLE.REGISTER.TAB.DATA' | translate}}">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="person">{{ 'ACCOUNT_PAYABLE.FIELD.SUPPLIER' | translate }}</label>
                <input id="personField" type="text" class="form-control" name="person" [(ngModel)]="selectedPerson.description" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="chartOfAccount">{{ 'ACCOUNT_PAYABLE.FIELD.CHART_OF_ACCOUNT' | translate }}</label>
                <input id="chartOfAccountField" type="text" class="form-control" name="chartOfAccount" [(ngModel)]="selectedChartOfAccount.description" readonly>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="issueDate">{{ 'ACCOUNT_PAYABLE.FIELD.ISSUE_DATE' | translate }}</label>
                  <input  id="issueDateField"
                          type="date"
                          class="form-control"
                          name="issueDate"
                          [(ngModel)]="issueDate"
                          #issueDateModel="ngModel"
                          #issueDateInput
                          [ngClass]="{'is-invalid': isFieldInvalid(issueDateModel)}"
                          placeholder="date"
                          required
                          [readonly]="isViewMode">
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(issueDateModel)">
                    <p *ngIf="issueDateModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT_PAYABLE.FIELD.ISSUE_DATE' | translate } }}</p>
                  </div>                    
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="dueDate">{{ 'ACCOUNT_PAYABLE.FIELD.DUE_DATE' | translate }}</label>
                  <input  id="dueDateField"
                          type="date"
                          class="form-control"
                          name="dueDate"
                          [(ngModel)]="dueDate"
                          #dueDateModel="ngModel"
                          #dueDateInput
                          placeholder="date"
                          [readonly]="isViewMode">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="documentNumberInput">{{ 'ACCOUNT_PAYABLE.FIELD.DOCUMENT_NUMBER' | translate }}</label>
                <input id="documentNumberInput"
                       type="text"
                       class="form-control"
                       name="documentNumber"
                       [(ngModel)]="accountPayable.documentNumber"
                       #documentNumber="ngModel"
                       maxlength="255"
                       [readonly]="isViewMode">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="barCodeInput">{{ 'ACCOUNT_PAYABLE.FIELD.BAR_CODE' | translate }}</label>
                <input id="barCodeInput"
                       type="text"
                       class="form-control"
                       name="barCode"
                       [(ngModel)]="accountPayable.barCode"
                       #barCode="ngModel"
                       maxlength="255"
                       [readonly]="isViewMode">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="amountLabel">{{ 'ACCOUNT_PAYABLE.FIELD.AMOUNT' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="amountField"
                         type="text"
                         class="form-control"
                         name="amountLabel"
                         [(ngModel)]="amount"
                         #amountModel="ngModel"
                         #amountInput
                         currencyInput
                         (change)="onChangeAmount($event)"
                         min="0"
                         maxDigits="10"
                         [ngClass]="{'is-invalid': isFieldInvalid(amountModel)}"
                         required
                         [disabled]="hasPayments()"
                         [readonly]="isViewMode">
                  <div class="invalid-feedback" *ngIf="isFieldInvalid(amountModel)">
                    <p *ngIf="amountModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'ACCOUNT_PAYABLE.FIELD.AMOUNT' | translate } }}</p>
                  </div>                          
                </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="discountLabel">{{ 'ACCOUNT_PAYABLE.FIELD.DISCOUNT' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="discountField"
                         type="text"
                         class="form-control"
                         name="discountLabel"
                         [(ngModel)]="discount"
                         #discountModel="ngModel"
                         #discountInput
                         currencyInput
                         (change)="onChangeDiscount($event)"
                         min="0"
                         maxDigits="10"
                         [readonly]="isViewMode">
                  </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="interestLabel">{{ 'ACCOUNT_PAYABLE.FIELD.INTEREST' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="interestField"
                         type="text"
                         class="form-control"
                         name="interestLabel"
                         [(ngModel)]="interest"
                         #interestModel="ngModel"
                         #interestInput
                         currencyInput
                         (change)="onChangeInterest($event)"
                         min="0"
                         maxDigits="10"
                         [readonly]="isViewMode">
                </div>      
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="totalLabel">{{ 'ACCOUNT_PAYABLE.FIELD.TOTAL' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="totalField"
                         type="text"
                         class="form-control"
                         name="totalLabel"
                         [(ngModel)]="total"
                         #totalModel="ngModel"
                         #totalInput
                         currencyInput
                         readonly>
                </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="amountPaidLabel">{{ 'ACCOUNT_PAYABLE.FIELD.AMOUNT_PAID' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="amountPaidField"
                         type="text"
                         class="form-control"
                         name="amountPaidLabel"
                         [(ngModel)]="amountPaid"
                         #amountPaidModel="ngModel"
                         #amountPaidInput
                         currencyInput
                         readonly>
                </div>      
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="amountToPayLabel">{{ 'ACCOUNT_PAYABLE.FIELD.BALANCE' | translate }}</label>
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="amountToPayField"
                         type="text"
                         class="form-control"
                         name="amountToPayLabel"
                         [(ngModel)]="amountToPay"
                         #amountToPayModel="ngModel"
                         #amountToPayInput
                         currencyInput
                         readonly>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'ACCOUNT_PAYABLE.FIELD.DESCRIPTION' | translate }} ({{accountPayable.description ? accountPayable.description.length : 0}})">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <textarea id="descriptionField"
                          rows="21"
                          maxlength="16065"
                          class="form-control"
                          name="description"
                          [(ngModel)]="accountPayable.description"
                          #description="ngModel"
                          [readonly]="isViewMode"></textarea>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'ACCOUNT_PAYABLE.REGISTER.TAB.PAYMENTS' | translate}}" *ngIf="!isNew()">
          <div class="row">
            <div class="form-group col-lg-12">
              <div *ngIf="!hasPayments()">
                <alert type="warning">
                  {{ 'APP.WARNING.DATA_NOT_FOUND' | translate}}
                </alert>
              </div>     
              <div class="table-wrapper-scroll-y payments-table" *ngIf="hasPayments()">
                <table class="table table-hover">
                  <thead class="payment-thead">
                    <tr>
                      <th class="text-center d-none d-sm-table-cell" style="width: 15%;">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.CODE' | translate }}</th>
                      <th class="text-center d-none d-sm-table-cell" style="width: 18%;">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.PAYMENT_DATE' | translate }}</th>
                      <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.NOTES' | translate }}</th>
                      <th>{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.PAYMENT_METHOD' | translate }}</th>
                      <th class="text-center" style="width: 20%;">{{ 'ACCOUNT_PAY_REC_PAYMENT.FIELD.AMOUNT' | translate }}</th>
                    </tr>
                  </thead>                  
                  <tbody>
                    <tr *ngFor="let payment of payments">
                      <td class="td-on-the-middle text-center">
                        <ng-template #codeTemplate><div [innerHtml]="getTooltipCode(payment)" class="table-tooltip"></div></ng-template>
                        <span [tooltip]="codeTemplate" placement="right">{{payment.code}}</span>
                      </td>
                      <td class="td-on-the-middle text-center">{{payment.paymentDate | date: 'yyyy-MM-dd':'GMT'}}</td>
                      <td class="td-on-the-middle text-center">
                        <button type="button" class="btn notes-button" [popover]="formatNotes(payment.notes)" triggers="focus" container="body">
                          <i [class]="payment.notes?.length > 0 ? 'fa fa-info-circle fa-lg' : 'fa fa-info-circle fa-lg text-secondary'"></i>
                        </button>
                      </td>
                      <td class="td-on-the-middle">{{'ACCOUNT_PAY_REC_PAYMENT.PAYMENT_METHODS.'+payment.paymentMethod | translate}}</td>
                      <td class="td-on-the-right text-right">
                        <ng-template #totalTemplate><div [innerHtml]="getTooltipAmount(payment)" class="table-tooltip"></div></ng-template>
                        <span [tooltip]="totalTemplate" placement="right">{{payment.amount | currency}}</span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot class="payment-footer">
                    <tr>
                      <th class="td-on-the-middle text-right" colspan="6">
                        {{ 'ACCOUNT_PAYABLE.SEARCH.TABLE.TOTAL_PAID' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;{{amountPaid}}
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" singleClick (debounceClick)="persist()" [debounceTime]="700" [hidden]="isViewMode">{{ 'ACCOUNT_PAYABLE.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'ACCOUNT_PAYABLE.REGISTER.ACTION.'+ (isViewMode ? 'CLOSE' : 'CANCEL') | translate }}</button>
      </div>
    </form>
  </div>
</div>
