<alert *ngIf="alertMessage" type="danger">
  <strong>Ops!</strong> {{alertMessage}}
</alert>
<alert *ngIf="warningMessage" type="warning">
  {{warningMessage}}
</alert>

<app-user-search-bar (paramsEmiter)="filter($event)"></app-user-search-bar>

<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div id="card-header-content">
              <i class="fa fa-align-justify table-title-format"></i> <span class="table-title-format">{{ 'USER.SEARCH.TITLE' | translate }} ({{userPageResult.totalElements}})</span>
              <div class="card-header-actions">
                <button type="button" class="btn btn-sm btn-block btn-outline-dark" data-toggle="modal" (click)="openRegisterScreen(null)">{{ 'USER.SEARCH.ADD' | translate }}</button>
              </div>
            </div>
          </div>
          <!-- <div class="card-body"> -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'USER.SEARCH.TABLE.CODE' | translate }}</th>
                  <th>{{ 'USER.SEARCH.TABLE.NAME' | translate }}</th>
                  <th style="width: 20%;">{{ 'USER.SEARCH.TABLE.EMAIL' | translate }}</th>
                  <th class="text-center d-none d-sm-table-cell" style="width: 12%;">{{ 'USER.SEARCH.TABLE.CREATED_DATE' | translate }}</th>
                  <th class="text-center d-none d-sm-table-cell" style="width: 12%;">{{ 'USER.SEARCH.TABLE.UPDATED_DATE' | translate }}</th>
                  <th class="text-center" style="width: 10%;">{{ 'USER.SEARCH.TABLE.ACTIONS' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userPageResult.content">
                  <td class="d-none d-sm-table-cell td-on-the-middle text-center">{{user.code}}</td>
                  <td class="td-on-the-middle">{{user.name}}</td>
                  <td class="td-on-the-middle">{{user.email}}</td>
                  <td class="td-on-the-middle text-center d-none d-sm-table-cell">{{user.createdDate | date: 'yyyy-MM-dd':'GMT'}}</td>
                  <td class="td-on-the-middle text-center d-none d-sm-table-cell">{{user.updatedDate | date: 'yyyy-MM-dd':'GMT'}}</td>
                  <td class="td-on-the-middle text-center">
                    <button type="button" class="btn btn-ghost-dark cil-pen" (click)="edit(user)"></button>
                    <button type="button" class="btn btn-ghost-danger cil-x" (click)="openRemoveDialog(user)" *ngIf="canRemove(user)"></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div style="align-self: center;">
              <pagination [boundaryLinks]="true" 
                          [totalItems]="userPageResult.totalElements" 
                          [(ngModel)]="userPageResult.currentPage"
                          [maxSize]="20"
                          (pageChanged)="pageChanged($event)"
                          [itemsPerPage]="itemsPerPage"
                          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>