<alert *ngIf="successMessage" type="success">
  <i class="cil-check"></i> {{successMessage}}
</alert>
<alert *ngIf="alertMessage" type="danger">
  <strong>Ops!</strong> {{alertMessage}}
</alert>
<alert *ngIf="warningMessage" type="warning">
  <i class="cil-info"></i> {{warningMessage}}
</alert>

<app-transaction-search-bar-by-day (paramsEmiter)="filter($event)"></app-transaction-search-bar-by-day>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div id="card-header-content">
            <i class="fa fa-align-justify table-title-format"></i> <span class="table-title-format">{{ 'TRANSACTION.SEARCH.TITLE' | translate }} ({{transactionPageResult.totalElements}})</span>
            <div class="card-header-actions">
              <button type="button" class="btn btn-sm btn-outline-dark cil-dollar" data-toggle="modal" (click)="showBalanceClick()"></button>
              <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" (click)="openTransactionTypeOption()">{{ 'TRANSACTION.SEARCH.ADD' | translate }}</button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center d-none d-sm-table-cell" style="width: 10%;">{{ 'TRANSACTION.SEARCH.TABLE.CODE' | translate }}</th>
              <th style="width: 20%;">{{ 'TRANSACTION.SEARCH.TABLE.CHART_OF_ACCOUNT' | translate }}</th>
              <th class="d-none d-sm-table-cell">{{ 'TRANSACTION.SEARCH.TABLE.DESCRIPTION' | translate }}</th>
              <th class="text-right" style="width: 12%;">{{ 'TRANSACTION.SEARCH.TABLE.AMOUNT' | translate }}</th>
              <th class="text-center" style="width: 12%;">{{ 'TRANSACTION.SEARCH.TABLE.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactionPageResult.content"
                [class.pending-transaction]="isPending(transaction)"
                [class.table-active]="isPending(transaction)"
                (dblclick)="dblclickOnTable(transaction)">
              <td class="d-none d-sm-table-cell td-on-the-middle text-center">{{transaction.code}}</td>
              <td class="td-on-the-middle" *ngIf="transaction.chartOfAccount?.name">{{transaction.chartOfAccount.accountNumber}} - {{transaction.chartOfAccount.name}}</td>
              <td class="td-on-the-middle" *ngIf="!transaction.chartOfAccount?.name">{{ 'APP.WARNING.DATA_NOT_AVAILABLE' | translate }}</td>
              <td class="d-none d-sm-table-cell td-on-the-middle">{{formatDescription(transaction.description)}}</td>
              <td class="td-on-the-middle text-right">
                <i [class]="isCredit(transaction) ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: x-large;"></i>
                {{transaction.amount | currency}}
              </td> <!--criar configuração para o tipo de moeda-->
              <td class="td-on-the-middle text-center">
                <button type="button" class="btn btn-ghost-dark cil-reload" (click)="repair(transaction)" [disabled]="disableRepairButton" [hidden]="!isPending(transaction)"></button>
                <button type="button" class="btn btn-ghost-dark cil-pen" (click)="edit(transaction)" [disabled]="isEditButtonDisabled" [hidden]="isPending(transaction) || isAuto(transaction)"></button>
                <button type="button" class="btn btn-ghost-danger cil-x" (click)="openRemoveDialog(transaction)" [hidden]="isAuto(transaction)"></button>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="showBalance">
            <tr class="credit-summary">
              <th class="td-on-the-middle text-right" colspan="4">
                {{ 'TRANSACTION.SEARCH.TABLE.CREDIT_BALANCE' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;{{creditBalance | currency}}
              </th>
              <th></th>
            </tr>
            <tr class="debit-summary">
              <th class="td-on-the-middle text-right" colspan="4">
                {{ 'TRANSACTION.SEARCH.TABLE.DEBIT_BALANCE' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;{{debitBalance | currency}}
              </th>
              <th></th>
            </tr>
            <tr class="summary">
              <th class="td-on-the-middle text-right" colspan="4">
                {{ 'TRANSACTION.SEARCH.TABLE.BALANCE' | translate }}:&nbsp;&nbsp;&nbsp;&nbsp;
                <i [class]="balance > 0 ? 'fa fa-caret-up text-primary' : 'fa fa-caret-down text-danger'" style="font-size: x-large;"></i>
                {{balance | currency}}
              </th>
              <th></th>
            </tr>
          </tfoot>
        </table>
        <div style="align-self: center;">
          <pagination [boundaryLinks]="true" 
                      [totalItems]="transactionPageResult.totalElements" 
                      [(ngModel)]="transactionPageResult.currentPage"
                      [maxSize]="20"
                      (pageChanged)="pageChanged($event)"
                      [itemsPerPage]="itemsPerPage"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Guardar estes exemplos: https://mdbootstrap.com/docs/b5/angular/data/tables/ -->