<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">
        <span *ngIf="!isNew()">{{ 'PHONE.REGISTER.TITLE_EDIT' | translate:{'code':phoneViewModel.code} }}</span>
        <span *ngIf="isNew()">{{ 'PHONE.REGISTER.TITLE_ADD' | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <alert *ngIf="submitted && alertMessage" type="danger">
    <strong>Ops!</strong> {{alertMessage}}
  </alert>

  <div class="modal-body">
    <form #phoneForm="ngForm" >
      <tabset>
        <tab heading="{{ 'PHONE.REGISTER.TAB.PHONE_DATA' | translate }}">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="phoneType">{{ 'PHONE.FIELD.TYPE' | translate }}</label>
                <select id="phoneTypeField"
                        name="phoneType"
                        #phoneTypeModel="ngModel"
                        [(ngModel)]="phoneViewModel.phone.type"
                        class="form-control"
                        [ngClass]="{'is-invalid': isFieldInvalid(phoneTypeModel)}"
                        required>
                  <option [value]="null" selected disabled *ngIf="phoneViewModel.phone.type == null">{{ 'APP.DEFAULT_VALUES.NONE' | translate }}</option>
                  <option *ngFor="let phoneType of phoneTypes" [ngValue]="phoneType">{{phoneType.name}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(phoneTypeModel)">
                  <p *ngIf="phoneTypeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'PHONE.FIELD.TYPE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="areaCode">{{ 'PHONE.FIELD.AREA_CODE' | translate }}</label>
                <input  id="areaCodeField"
                        type="text"
                        class="form-control"
                        name="areaCode"
                        [(ngModel)]="phoneViewModel.phone.areaCode"
                        #areaCodeModel="ngModel"
                        #areaCodeInput
                        maxlength="3"
                        [ngClass]="{'is-invalid': isFieldInvalid(areaCodeModel)}"
                        required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(areaCodeModel)">
                  <p *ngIf="areaCodeModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'PHONE.FIELD.AREA_CODE' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="phoneNumber">{{ 'PHONE.FIELD.PHONE_NUMBER' | translate }}</label>
                <input  id="phoneNumberField"
                        type="text"
                        class="form-control"
                        name="phoneNumber"
                        [(ngModel)]="phoneViewModel.phone.phoneNumber"
                        #phoneNumberModel="ngModel"
                        #phoneNumberInput
                        maxlength="12"
                        [ngClass]="{'is-invalid': isFieldInvalid(phoneNumberModel)}"
                        required>
                <div class="invalid-feedback" *ngIf="isFieldInvalid(phoneNumberModel)">
                  <p *ngIf="phoneNumberModel.errors?.required">{{ 'APP.VALIDATION.FIELD_IS_REQUIRED' | translate:{ 'fieldname': 'PHONE.FIELD.PHONE_NUMBER' | translate } }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="extension">{{ 'PHONE.FIELD.EXTENSION' | translate }}</label>
                <input  id="extensionField"
                        type="text"
                        class="form-control"
                        name="extension"
                        [(ngModel)]="phoneViewModel.phone.extension"
                        #extensionModel="ngModel"
                        #extensionInput
                        maxlength="8"
                        [ngClass]="{'is-invalid': isFieldInvalid(extensionModel)}">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="updatedDate">{{ 'PHONE.FIELD.IS_DISABLED' | translate }}</label>
                <div>
                  <label class="switch switch-label switch-outline-primary-alt">
                    <input type="checkbox" class="switch-input" name="isDisabled" [(ngModel)]="phoneViewModel.phone.disabled" checked>
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                  </label>
                </div>      
              </div>
            </div>
          </div>
          <!-- TODO  -->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="address">{{ 'PHONE.FIELD.ADDRESS' | translate }}</label>
                <div class="input-group">
                  <input  id="addressDatalistInput"
                          list="addressDatalist"
                          type="text"
                          class="form-control"
                          name="address"
                          (change)="onChangeAddress($event)"
                          [(ngModel)]="selectedAddressLine"
                          #addressModel="ngModel"
                          #addressNameInput
                          maxlength="100">
                    <div class="input-group-append">
                      <button class="btn btn-secondary cil-x" type="button" (click)="clearAddress()"></button>
                    </div>        
                </div>
                <datalist id="addressDatalist">
                  <option *ngFor="let model of addressViewModelList"
                          id="address_option_{{model.index}}"
                          [label]="model.address.type.name"
                          [ngValue]="model.index">{{model.itemLabel}}</option>
                </datalist>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="contact">{{ 'PHONE.FIELD.CONTACT' | translate }}</label>
                <div class="input-group">
                  <input  id="contactDatalistInput"
                          list="contactDatalist"
                          type="text"
                          class="form-control"
                          name="contact"
                          (change)="onChangeContact($event)"
                          [(ngModel)]="selectedContactName"
                          #contactModel="ngModel"
                          #contactNameInput
                          maxlength="100">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" [class]="isContactPrepared ? 'cil-x' : 'cil-plus'" type="button" (click)="addContact()"></button>
                  </div>
                </div>
                <datalist id="contactDatalist">
                  <option *ngFor="let model of contactViewModelList"
                          id="contact_option_{{model.index}}"
                          [label]="model.contact.role"
                          [ngValue]="model.index">{{model.itemLabel}}</option>
                </datalist>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="contactRole" *ngIf="isLegalPerson()">{{ 'PHONE.FIELD.ROLE' | translate }}</label>
                <label for="contactRole" *ngIf="!isLegalPerson()">{{ 'PHONE.FIELD.RELATIONSHIP' | translate }}</label>
                <input  id="contactRoleField"
                        type="text"
                        class="form-control"
                        name="contactRole"
                        [(ngModel)]="selectedContactRole"
                        #contactRole="ngModel"
                        #contactRoleInput
                        maxlength="50"
                        [readonly]="!isContactPrepared">
              </div>
            </div>
          </div>          
        </tab>
        <tab heading="{{ 'PHONE.REGISTER.TAB.NOTES' | translate }}">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <textarea id="notesField"
                          rows="16"
                          class="form-control"
                          name="notes"
                          [(ngModel)]="phoneViewModel.phone.notes"
                          #notes="ngModel"></textarea>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="disableSaveButton">{{ 'PHONE.REGISTER.ACTION.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="close()">{{ 'PHONE.REGISTER.ACTION.CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
</div>
